@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/*------------------------------------------------
Global Reset - Resets all browser defaults to 
-------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}

/*-----------------------------------------------------------------------------------*/
/* ) Under Construction
/*-----------------------------------------------------------------------------------*/
.page-under-construction { background:url(../images/use_img/construction_img.jpg) no-repeat center top; background-size:cover; }
.construction { padding-top:150px; margin:0 auto; width:70%; display:table; }
h1 { font-size:70px; }
h4 { font-size:26px; margin:15px 0; }
body, p, ul, li, ol li { font-family:Open Sans, sans-serif; font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-family: Montserrat, sans-serif; font-weight:bold; margin-bottom:25px; }
h1, h2, h3, h4, h5, h6, p, ul, li, ol li  { color:#fff; text-align:center; }
h2 { font-size:60px; }
h3 { font-size:40px; }
h4 { font-size:26px; }
h5 { font-size:20px; }
h6 { font-size:18px; }
ul, li, ol li { text-align:left; }
.construction i.arrow-down { margin:20px auto; display:block; width:60px; height:60px; background:url(../images/arrow_down.png) no-repeat center top; }


.countdown { margin:0 auto 50px auto; width:55%; background:#000; display:table;  }
.countdown span { width:25%; line-height:65px; padding:30px 0; display:block; float:left;
font:bold 72px Montserrat, sans-serif; text-align:center; color:#fff; }
.countdown span small { display:block; font:12px Open Sans, sans-serif; font-weight:normal; }

.countdown span.days { background:#673ab7;  }
.countdown span.hours { background:#e91e63;  }
.countdown span.min { background:#4caf50;  }
.countdown span.sec { background:rgb(241, 0, 38);  }


.newsletter { width:49%; margin:0 auto 80px auto; padding:30px; background: url(../images/newsletter_bg.png) repeat left top; }
.newsletter h3 { font-size:21px; text-align:left; margin:0 0 15px 0; }
.newsletter input[type="email"] { width:95%; padding:10px; margin-bottom:20px; background:#fff; border:none; 
font:14px Montserrat, sans-serif; color:#657184;  }

.btn-orange { color:#fff; background:rgb(241, 0, 38); padding:10px 35px; font:15px Montserrat, sans-serif; border:none; cursor:pointer;}
.btn-orange:hover { background:#0583e4; }
.mc4wp-alert, .mc4wp-error { color:#fcbbbb; font-size:12px; margin:10px 0; }

.construction p.copyright { padding-bottom:100px; font:11px Montserrat, sans-serif; color:#c8c8c8; text-align:center; }

/*//////////////////////////////////////// 
Responsive            
////////////////////////////////////////*/
@media (max-width: 800px) {
.countdown span { font-size:30px; }
}
@media (max-width: 480px) {
.countdown { width:85%; }
.newsletter { width:70%; }
}