.nav{/*position:relative;z-index:999;*/}

.menu-icon{display:none}

ul.dropdown,ul.dropdown li,ul.dropdown ul{margin:0;padding:0;  list-style-type:none; left:0 !important;}

ul.dropdown{ float:right;}

ul.dropdown li{vertical-align:middle;zoom:1; float:left; text-align:left;}

ul.dropdown li a.active
{
	background-color:#1c1c1c;

}


ul.dropdown li{font-size:13px; margin:0px 0px 0px 0px; position:relative;}
ul.dropdown li a.rootLink{
	-webkit-transition: all 0.3s ease; 
	-moz-transition: all 0.3s ease; 
	-o-transition: all 0.3s ease; 
	-ms-transition: all 0.3s ease; 
	transition: all 0.3s ease; 
	position:relative;
	padding:32px 10px;
	font-size:14px;  font-family: 'Open Sans',; font-weight:400px !important; text-transform:uppercase; 
}
ul.dropdown li a.rootLink.active{ color:#fbc92b;}
ul.dropdown li a.rootLink .line
{
	width:0%;
	height:4px;
	background-color:#f1c100;
	border:0px solid #000;
	position:absolute;
	margin-top:12px;
	-webkit-transition: all 0.3s ease; 
	-moz-transition: all 0.3s ease;                 
	-o-transition: all 0.3s ease;   
	-ms-transition: all 0.3s ease;          
	transition: all 0.3s ease;
	position:relative;
}

ul.dropdown li a.rootLink:hover .line, ul.dropdown li a.rootLink.active .line, ul.dropdown li.sub:hover > a .line
{
	background-color: #f1c100;
	height: 4px;
	margin-top: 12px;
	position: relative;
	width: 100%;
}

ul.dropdown li.fixedWidth { position:relative;}

ul.dropdown a,ul.dropdown a:visited,ul.dropdown a:hover,ul.dropdown a:active{text-decoration:none}

ul.dropdown a, ul.dropdown span{display:block;outline:0;cursor:pointer;padding:0px;}

ul.dropdown ul a,ul.dropdown ul span{padding:7px; }


ul.dropdown li:hover,ul.dropdown li.hover{/*position:relative;cursor:pointer*/}

ul.dropdown ul{display:none;position:absolute;z-index:598;top:100%;right:0}

.RightPosition {right:0 !important}

ul.dropdown li:hover>ul{display:block}

ul.dropdown ul li{float:none;font-size:14px;text-transform:none;position:relative}
ul.dropdown ul li ul li{ font-size:13px; line-height:15px;}
ul.dropdown ul li ul li a{ padding-top:10px; padding-bottom:10px;}
ul.dropdown ul ul{top:0;left:100%}

ul.dropdown *.sub{}

ul.dropdown ul *.sub{padding-right:15px;background-image:url(../ega_images/nav-arrow-right.png);background-position:100% 50%;background-repeat:no-repeat}

ul.dropdown ul li.sub:hover{background-image:url(../ega_images/nav-arrow-right1.png)}

ul.dropdown li.divider{padding:0 !important;margin:0 !important;border:0 !important;display:block;height:49px;float:left;width:2px}

li.sub ul { 
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both;
	padding:0px;
} 

@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInDown { 
    -webkit-animation-name: fadeInDown; 
    animation-name: fadeInDown; 
	 text-indent: 10px;
}



@-webkit-keyframes fadeInLeft { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInLeft { 
    0% { 
        opacity: 0; 
        transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
.fadeInLeft { 
    -webkit-animation-name: fadeInLeft; 
    animation-name: fadeInLeft; 
	
}


ul.dropdown li.rtl ul{position:absolute;top:100%;right:0;z-index:598;left:auto}

ul.dropdown li.rtl ul ul{top:0;right:100%;left:auto}

ul.dropdown li.ltr ul,ul.dropdown li.ltr ul ul{top:0;left:100% !important;right:auto !important}

.green-black,.green-black ul.dropdown{/*background:#1abc9c*/}


.green-black ul.dropdown ul{background:#6441a5 ; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) !important; }


.green-black ul.dropdown a,.green-black ul.dropdown a:visited,.green-black ul.dropdown a:hover,.green-black ul.dropdown a:active,.green-black 
ul.dropdown li{color:#fff;}

ul.dropdown li.rootC{
	background:#EABB35 !important;
}

.green-black ul.dropdown li:hover > a,.green-black ul.dropdown li.hover{color:#23b4df; }

.green-black ul.dropdown ul li{border-bottom:0px; margin: 0px 0px; border-bottom: 1px solid #e1e1e1;}

.green-black ul.dropdown ul li.hover a,.green-black ul.dropdown ul li:hover a{color:#fff;  }

.green-black ul.dropdown li.sub ul li a{color:#fff; text-transform:uppercase; font-size:11px; font-weight:600; }
.green-black ul.dropdown li.sub ul li a:hover{color:#ffffff; background-color:#000; }
.green-black ul.dropdown li.sub li:nth-child(odd){ background-color:#3d1b57;}
.green-black ul.dropdown li.sub li.sub li:nth-child(odd){ background-color:#fff;}

.green-black ul.dropdown li.divider{background:#1abc9c url(../ega_images/divide.gif) center no-repeat}
ul.dropdown .fullWidth ul{ width:98%; padding:1%; background:#dc0040 url(../ega_images/menuBorderBg.png) repeat-y; background-size:100%;}
ul.dropdown .fullWidth ul li{ width:16.666666667%; float:left; border:0px;}
.green-black ul.dropdown .fullWidth ul li{ border-right:1px solid #f23e72;}*/
.green-black ul.dropdown .fullWidth ul li a{ padding:3px 5%; width:90%; width: calc(90% - 1px); float:left; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
ul.dropdown .mClick{ display:none; font-size:18px;background:url(../ega_images/menuPlus.png) no-repeat center center;}
ul.dropdown .mClick.current{ background:url(../ega_images/menuMunus.png) no-repeat center center;}



@media all and (min-width: 780px) and (max-width: 1150px)
{
	ul.dropdown li a.rootLink{
   padding:32px 10px;
	}
	ul.dropdown li a.rootLink{
		font-size:14px;
	}
	
	.top-drag-search {
    border: 1px solid red;
    float: left;
    text-align: right;
    width: 39%;
}

    .navbar-nav-custtom > li > a {
    color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.navbar-nav-custtom > li > a:hover {
color: #fff;

}


.btn-group-vertical > .btn-group::after, .btn-group-vertical > .btn-group::before, .btn-toolbar::after, .btn-toolbar::before, .clearfix::after, .clearfix::before, .container-fluid::after, .container-fluid::before, .container::after, .container::before, .dl-horizontal dd::after, .dl-horizontal dd::before, .form-horizontal .form-group::after, .form-horizontal .form-group::before, .modal-footer::after, .modal-footer::before, .modal-header::after, .modal-header::before, .nav::after, .nav::before, .navbar-collapse::after, .navbar-collapse::before, .navbar-header::after, .navbar-header::before, .navbar::after, .navbar::before, .pager::after, .pager::before, .panel-body::after, .panel-body::before, .row::after, .row::before {
    content: " ";
    display: table;
}
*::after, *::before {
    box-sizing: border-box;
}
.btn-group-vertical > .btn-group::after, .btn-toolbar::after, .clearfix::after, .container-fluid::after, .container::after, .dl-horizontal dd::after, .form-horizontal .form-group::after, .modal-footer::after, .modal-header::after, .nav::after, .navbar-collapse::after, .navbar-header::after, .navbar::after, .pager::after, .panel-body::after, .row::after {
    clear: both;
}
.btn-group-vertical > .btn-group::after, .btn-group-vertical > .btn-group::before, .btn-toolbar::after, .btn-toolbar::before, .clearfix::after, .clearfix::before, .container-fluid::after, .container-fluid::before, .container::after, .container::before, .dl-horizontal dd::after, .dl-horizontal dd::before, .form-horizontal .form-group::after, .form-horizontal .form-group::before, .modal-footer::after, .modal-footer::before, .modal-header::after, .modal-header::before, .nav::after, .nav::before, .navbar-collapse::after, .navbar-collapse::before, .navbar-header::after, .navbar-header::before, .navbar::after, .navbar::before, .pager::after, .pager::before, .panel-body::after, .panel-body::before, .row::after, .row::before {
    content: " ";
    display: table;
}
*::after, *::before {
    box-sizing: border-box;
}




}

@media screen and (max-width:1200px){
	
ul.dropdown li a.rootLink{
	padding:9px !important;
}
.green-black ul.dropdown a, .green-black ul.dropdown a:visited, .green-black ul.dropdown a:hover, .green-black ul.dropdown a:active, .green-black ul.dropdown li{
	color:#fff;
}
ul.dropdown li .mClick{ display:block; position:absolute; top:0px; width:34px; height:37px; line-height:37px; text-align:center; padding:0px; right:0px;}

#menuWrap {
    margin: 0;
    position: absolute;
    right: 0;
}

#menuWrap-inner {

    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    position: absolute;
    text-align: right !important;
    width: 100%;
        margin: 0;
    position: absolute;
    right: 0;
}

.menu-icon {
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 14px;
    height: 40px;
    line-height: 34px;
    margin-top:32px;
    position: relative;
    width: 50px;
}
.menu-icon nav{ float:left;}

#headerNav{ z-index:9999 !important;}
.menu-icon span{width:auto;padding:0; opacity:0.9; padding-left:40px;height:24px;background:url(../ega_images/nav-toggle.png) center no-repeat;color:#fff;text-align:center;text-indent:-999em;display:inline-block;position:absolute;top:0px;right:0px}
#headerNav.fixedNow{ height:45px;}
#headerNav.fixedNow #menuWrap{ height:auto;}
#headerNav.fixedNow .menu-icon{ height:32px; line-height:32px; width:100px; margin:5px 0px;}
#headerNav.fixedNow .menu-icon span{ padding:0px 5px 0px 30px; height:30px;}
#headerNav.fixedNow ul.dropdown{ top:3px;}

.nav{position:relative}
ul.dropdown li a.rootLink.active{ color:#fff;}
.green-black ul.dropdown li.sub ul li a{color:#fff; font-size:11px; font-weight:600;}
.nav,ul.dropdown,.menu-icon,.menu-icon span,ul.dropdown *{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}

ul.dropdown{ padding: 10px 0; display:none;position:relative;top:100%; background:#6441a5; position:absolute; z-index:9999; width:100%;}
.green-black ul.dropdown ul li{ border-bottom:1px solid #ccc;}
ul.dropdown li a.rootLink .line{ display:none;}
ul.dropdown li{position:relative;float:none; margin: 0 10px; display:block;border-bottom:1px solid #e1e1e1;}
ul.dropdown li li{ /*width:50%; float:left; background-image:url(../ttc-images/greyDivider.png); background-repeat:repeat-y; background-position:right;*/}
ul.dropdown li li a{ padding:9px 10px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.green-black ul.dropdown ul{ background:#fff;}
ul.dropdown .fullWidth ul{ width:100%; padding:0%; background-image:none;}
ul.dropdown .fullWidth ul li{ width:33.33%;}
.green-black ul.dropdown .fullWidth ul li a{ padding:3px 10px; width:auto; float:none;}
.green-black ul.dropdown ul a{padding-left:25px; color:#444;}
.green-black ul.dropdown ul li, .green-black ul.dropdown .sub ul li:nth-child(odd){ background-color:#e6007e;}

.green-black ul.dropdown ul li ul li, .green-black ul.dropdown li.sub li.sub li:nth-child(odd){ background-color:#999;}

ul.dropdown a{ padding:10px;}
ul.dropdown ul ul a{padding-left:45px}
.green-black ul.dropdown li:hover,.green-black ul.dropdown li.hover, .green-black ul.dropdown li:hover > a{background-color:#000; text-indent: 10px;}
ul.dropdown ul a:hover{background-color:#1c1c1c;   }

ul.dropdown *.sub{padding:0 !important;background-image:none !important}

ul.dropdown ul{overflow:hidden;max-height:0;width:auto;display:block;position:static; padding:0px;}

ul.dropdown ul.current{display:block;max-height:100em; }

ul.dropdown li.sub>a{padding-right:25px}

ul.dropdown li.sub>a.current{background:#23b4df; color:#000; }

ul.dropdown li.sub>ul a.current{background:#1e2935}

ul.dropdown li.sub>a:after,ul.dropdown li.sub>a.current:after{position:absolute;top:0;right:0;display:block;font-size:1.5em;padding:10px .5em}

/*ul.dropdown li.sub>a:after{content:'\002B'}ul.dropdown li.sub>a.current:after{content:"\2013";top:-2px}*/

ul.dropdown li.rtl ul,ul.dropdown li.ltr ul,ul.dropdown li.ltr ul ul,ul.dropdown li.rtl ul ul{position:static}

ul.dropdown li.divider{display:none !important}
.green-black ul.dropdown .fullWidth ul li a, .green-black ul.dropdown .fixedWidth ul li a{ color:#444;}
/*.green-black ul.dropdown ul li.hover a,*/.green-black ul.dropdown ul li a:hover{/*background:#fff; margin-right:1px;*/ background-color:#000; color:#f5f5f5 !important;}

.profile_menu
{
  display:none;  
}
    
}

@media screen and (min-width:1200px){
	ul.dropdown{display:block !important}
	

}


@media all and (min-width: 300px) and (max-width: 500px)
{
	
.top-logo-main {
    padding-bottom: 15px;
    padding-top: 15px;
}
	
.menu-icon {
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 14px;
    margin-top:32px;
    position: relative;
    width: 50px;
}

    .by-credits-buttton
    {
        width:100%;
    }
	
	.transfer-credits-buttton
	{
	 width:100%;	
	}

}