/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1) Normalize
2) Typography
3) Elements
4) Forms
5) Navigation
	5.1) Links
	5.2) Menus
6) Accessibility
7) Alignments
8) Clearings
9) Widgets
10) Content
    10.1) Posts and pages
	10.2) Asides
	10.3) Comments
	10.4) Footer
11) Infinite scroll
12) Media
	12.1) Captions
	12.2) Galleries
	12.3) Sliders
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1) Normalize
--------------------------------------------------------------*/

@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i';
@font-face {
    font-family: 'MarketFresh';
    src: url('market_fresh/Market_Fresh.otf');
    /* IE9 Compat Modes */

    src: url('market_fresh/Market_Fresh.otf?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */

    url('market_fresh/Market_Fresh.otf') format('opentype'),
    /* Modern Browsers */

    url('market_fresh/Market_Fresh.otf') format('opentype'),
    /* Safari, Android, iOS */

    url('market_fresh/Market_Fresh.otf') format('opentype');
    /* Legacy iOS */
}
@font-face {
    font-family: 'Raavi';
    src: url('Raavi.ttf');
    /* IE9 Compat Modes */

    src: url('Raavi.ttf?#iefix') format('embedded-truetype'),
    /* IE6-IE8 */

    url('Raavi.ttf') format('truetype'),
    /* Modern Browsers */

    url('Raavi.ttf') format('truetype'),
    /* Safari, Android, iOS */

    url('Raavi.ttf') format('truetype');
    /* Legacy iOS */
}
html {
    font-family: 'Raleway', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
html,
body {
    -webkit-font-smoothing: antialiased;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background-color: transparent;
    text-decoration: none;
}
a:active,
a:hover {
    outline: 0;
    text-decoration: none;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0px;
}
input{
    color: inherit;
    font: inherit;
    margin: 0px;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #eee;
}
td,
th {
    padding: 10px;
    border: 1px solid #efefef;
}
.btn-normal {
    color: rgb(241, 0, 38);
    ;
    border: 2px solid rgb(241, 0, 38);
}
.btn-normal:hover {
    color: #fff;
}
.btn-default,
.btn-orange,
.btn-blue {
    color: #fff !important;
    font-size: 15px;
    border: none;
    background: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.btn-default,
.btn-default:active,
.btn-default:focus,
.btn-normal:focus {
    color: #fff;
    background: none;
}
.btn-default {
    color: #fff;
    border: 1px solid #fff;
}
.btn-default:hover,
.btn-orange {
    color: #fff;
    background: rgb(241, 0, 38);
    border: 1px solid rgb(241, 0, 38);
}
.btn-orange,
.btn-orange:active,
.btn-orange:focus {
    color: #fff !important;
    background: rgb(241, 0, 38);
    border: none;
}
.btn-orange:hover,
.btn-normal:hover {
    color: #fff;
    background: #f10026;
}
#main a.btn-link {
    color: #262c38 !important;
}
#main a:hover.btn-link {
    color: rgb(241, 0, 38) !important;
}
#main a.btn-normal {
    color: #f10026!important;
}
#main a:hover.btn-normal {
    color: #fff !important;
}
a:hover.btn-orange {
    color: #fff;
    background: #f10026;
}
.btn-blue,
.btn-blue:active,
.btn-blue:focus {
    color: #fff;
    background: rgb(241, 0, 38);
    ;
}
#mp-checkout-form .mp_button-checkout-next-step {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font: 15px Montserrat, sans-serif;
    color: #fff;
    background: #0583e4;
    border: none;
}
#mp-checkout-form .mp_button-checkout-next-step:hover #mp-checkout-form .mp_button-checkout-next-step:focus {
    color: #fff;
    background: rgb(241, 0, 38);
}
.mp_cart_meta a.mp_button-checkout,
.mp_cart_meta .mp_button-checkout {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font: 15px Montserrat, sans-serif;
    color: #fff !important;
    background-color: rgb(241, 0, 38) !important;
    border: none !important;
}
.mp_cart_meta a:hover.mp_button-checkout,
.mp_cart_meta .mp_button-checkout:hover,
.mp_cart_meta .mp_button-checkout:focus,
.mp_cart_meta a:focus.mp_button-checkout {
    color: #fff !important;
    background: #0583e4 !important;
}
.btn-blue:hover {
    color: #fff;
    background: rgb(241, 0, 38);
}
.btn-ex-small {
    padding: 8px 15px;
    font-size: 12px;
}
.btn-small {
    padding: 10px 25px;
}
.btn-medium {
    padding: 15px 25px;
}
.btn-large {
    padding: 22px 40px;
}
.btn i {
    position: relative;
    margin: 0 10px;
    top: 2px;
}
.input-group-btn .btn i {
    margin: 0 10px 0 0;
}
.page-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background-color: #ffffff;
}
.page-loader-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
/*--------------------------------------------------------------
2) Typography
--------------------------------------------------------------*/

html,
body,
button,
input,
select,
textarea {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 1.9;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    color: #666;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
h2.text-center {
    background-position: center bottom;
}
.panel-grid-cell h3.widget-title {
    font-size: 30px;
}
.head-border-default,
.head-border-orange,
.panel-grid-cell h3.widget-title,
.contact-form h3 {
    margin-bottom: 35px;
    padding-bottom: 18px;
}
.head-border-default,
.panel-grid-cell h3.widget-title,
.contact-form h3 {
    background: url(../images/border_bottom.png) no-repeat left bottom;
}
.head-border-orange {
    background: url(../images/border_bottom_orange.png) no-repeat center bottom;
}
p {
    margin-bottom: 1.5em;
}
dfn,
cite,
em,
i {
    font-style: italic;
}
blockquote {
    margin: 0 0 1em 1.5em;
}
address {
    margin: 0 0 1.5em;
}
pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}
code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 1.2rem;
}
abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}
mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}
big {
    font-size: 125%;
}
/*--------------------------------------------------------------
3) Elements
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */

    box-sizing: inherit;
}
body {
    background: #fff;
    /* Fallback for when there is no custom background color defined. */
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}
blockquote,
q {
    quotes: "" "";
}
hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}
ul,
ol {
    margin: 0 0 1.5em 0;
    padding: 0 0 0 1.3em;
}
ul {
    list-style: disc;
}
ul.bullet {
    list-style: none;
    padding: 0;
}
ul.bullet li {
    background: url(../images/bullet.png) no-repeat left 6px;
    padding-left: 25px;
}
#main li {
    margin-bottom: 9px;
    margin-top: 9px;
}
ol {
    list-style: decimal;
}
li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0 1.5em 1.5em;
}
img {
    height: 100%;
    /* Make sure images are scaled correctly. */

    max-width: 100%;
    /* Adhere to container width. */
}
table {
    width: 100%;
}
figure {
    margin: 0;
}
.img-thumb {
    display: block;
    overflow: hidden;
}
.img-thumb img {
    display: block;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.img-thumb:hover img,
.img-thumb:focus img,
.zoom:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
/*
Global Animations Style
 ----------------------------------------*/

.anim-section {
    position: relative;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
    -moz-transform: translateY(80px);
    -webkit-transform: translateY(80px);
    -o-transform: translateY(80px);
    -ms-transform: translateY(80px);
    transform: translateY(80px);
    visibility: visible;
    opacity: 0
}
.anim-section.animate {
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    visibility: visible;
    opacity: 1
}
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    font: 15px Montserrat, sans-serif;
    padding: 15px 25px;
    color: #fff;
    background: rgb(241, 0, 38);
}
button,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    color: #fff;
    background: rgb(241, 0, 38);
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: none;
    border-radius: 0px;
    background: rgb(241, 0, 38);
    color: #fff;
    font-family: Raleway, sans-serif;
    font-size: 15px;
    line-height: 1;
    padding: 15px 25px;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    color: #fff;
    border: none;
    background: rgb(241, 0, 38);
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    color: #fff;
    border: none;
    background: rgb(241, 0, 38);
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
.wpcf7-select,
.wpcf7-date {
    color: #666;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    border: 1px solid #d7d7d7;
    border-radius: 0px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
    color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    padding: 10px 15px 10px 25px;
    width: 100%;
}
textarea {
    padding: 8px 10px;
    width: 98%;
}
.btn {
    font-family: Raleway, sans-serif;
}
/*--------------------------------------------------------------
5) Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/

a {
    color: #333;
}
a:visited {
    color: #000;
}
a:hover,
a:focus,
a:active {
    color: rgb(241, 0, 38);
}
a:focus {
    outline: none;
}
a:hover,
a:active {
    outline: none;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
    /*color:#263238; */

    color: #000;
    text-underline: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: rgb(241, 0, 38);
}
/*--------------------------------------------------------------
## Meta
--------------------------------------------------------------*/

.header_meta {
    border-bottom: 1px solid #e9ecef;
    font: 13px Montserrat, sans-serif;
    font-weight: normal;
    color: #838fa1;
}

.header_meta_custtm {
    border-bottom:0px solid #e9ecef !important;
}


.header_meta p {
    margin: 0;
    padding-top: 12px;
}
nav.meta-login {
    float: right;
}
nav.meta-login ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav.meta-login ul li {
    float: left;
    padding: 12px 18px;
    font-weight: bold;
    color: #838fa1;
    border-left: 1px solid #e9ecef;
}
nav.meta-login ul li:first-child {
    border: none;
    font-weight: normal;
    font-size: 14px;
    padding: 10px 19px;
}
nav.meta-login ul li a {
    color: #838fa1;
    text-decoration: none;
}
nav.meta-login ul li a:hover {
    color: rgb(241, 0, 38);
}
nav.meta-login ul li i {
    display: inline;
    float: left;
    margin: -2px 5px;
    font-size: 18px;
}
/*--------------------------------------------------------------
5.2) Menus
--------------------------------------------------------------*/

.navbar {
    float: right;
    font: 15px Montserrat, sans-serif;
    color: #838fa1;
    background: none;
    border: none;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    /*color: #fff;*/

    color: rgb(241, 0, 38);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: rgb(241, 0, 38);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.navbar ul {
    margin-top: 25px;
}
.navbar-nav > li > a {
    padding: 10px 15px;
    margin-right: 4px;
}
.navbar-nav li ul li a {
    margin: 0;
}
.navbar li.pull-right {
    margin-top: -5px;
    margin-left: 10px;
}
.navbar li.pull-right i {
    font-size: 22px;
}
.navbar li.pull-right a.menu-cart {
    position: relative;
    display: block;
    text-align: center;
    border: 1px solid #e4e8ee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.navbar li.pull-right a:hover.menu-cart {
    border: 1px solid #e4e8ee;
}
.navbar li.pull-right a.menu-cart span {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 0px 6px;
    font-size: 10px;
    color: #fff;
    /*background:rgb(241, 0, 38);*/

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.menu-full .navbar-collapse.collapse {
    margin: 12px 0 6px;
}
.menu-full .navbar {
    width: 100%;
}
.menu-full .navbar li.pull-right {
    float: right;
}
.menu-full .navbar-nav {
    float: none;
}
/* dropdown */

.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}
.dropdown-menu {
    margin: 0px auto;
}
.dropdown-menu .dropdown-menu {
    left: 100%;
    top: 0px;
}
.navbar-nav > li > .dropdown-menu {
    /*background:rgb(241, 0, 38);*/

    border: none;
    color: #ffd0c1;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    top: 93%;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .175);
    box-shadow: 0 0 0 rgba(0, 0, 0, .175);
}
.navbar-nav > li:hover > a {
    /*background:rgb(241, 0, 38);*/

    padding-top: 10px;
    color: #fff;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
}
.dropdown-menu .dropdown-menu {
    background: #fff;
    border: none;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    background-color: #f00025;
    color: #fff;
    outline: 0 none;
    text-decoration: none;
}
.dropdown-menu > li > a {
    color: #333;
    background: #fff;
    padding: 8px 20px;
}
.dropdown-menu > li > a:hover {
    color: #fff;
    background: rgb(241, 0, 38);
}
.navbar-nav > li > .dropdown-menu {
    padding: 20px 0;
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}
/* Menu Two CSS - Full width menu ///////////////////////*/

.menu-full {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.menu-full .navbar {
    margin-bottom: 0;
    float: left;
}
.menu-full .navbar ul {
    margin-top: 0;
}
/* Home Page 2 Menu CSS ////////////////////////////////////*/

.home-two-nav .navbar-default .navbar-nav > li > a:hover,
.home-two-nav .navbar-default .navbar-nav > li > a:focus {
    background-color: #094db9;
    color: #fff;
}
.home-two-nav .navbar-nav > li > .dropdown-menu {
    background: #094db9;
    border: none;
    color: #c7ced9;
}
.home-two-nav .navbar-nav > li:hover > a {
    background: #094db9;
    color: #fff;
}
.home-two-nav .dropdown-menu .dropdown-menu {
    background: #094db9;
    border: none;
}
.home-two-nav .navbar-nav > .active > a,
.home-two-nav .navbar-nav > .active > a:hover,
.home-two-nav .navbar-nav > .active > a:focus {
    background-color: #094db9;
    color: #fff;
    outline: 0 none;
    text-decoration: none;
}
.home-two-nav .dropdown-menu > li > a {
    color: #c7ced9;
    background: #094db9;
}
.home-two-nav .dropdown-menu > li > a:hover {
    color: #fff;
    background: #094db9;
}
/* Home Page 3 Menu CSS ////////////////////////////////////*/

.mm-menu > .mm-navbar {
    display: none;
}
.mm-listview .mm-next::before,
.mm-listview > li:not(.mm-divider)::after {
    border: none;
}
.mm-listview > li > a,
.mm-listview > li > span {
    color: #637383;
}
#menu-left .mm-listview .mm-next {
    background: none;
}
.mm-menu.mm-vertical .mm-listview > li.mm-opened > a.mm-next,
.mm-menu.mm-vertical .mm-listview > li.mm-opened > .mm-panel,
.mm-menu .mm-listview > li.mm-opened.mm-vertical > a.mm-next,
.mm-menu .mm-listview > li.mm-opened.mm-vertical > .mm-panel {
    background: #f2f2f2;
}
#menu-left .mm-listview > li > a:hover,
#menu-left .mm-listview > li:hover {
    color: #fff;
    background: rgb(241, 0, 38);
}
#menu-left .mm-menu .mm-listview > li.mm-selected > a:not(.mm-next),
#menu-left .mm-menu .mm-listview > li.mm-selected > span {
    color: #fff;
    background: rgb(241, 0, 38);
}
/*--------------------------------------------------------------
6) Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}
/*--------------------------------------------------------------
7) Alignments
--------------------------------------------------------------*/

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*--------------------------------------------------------------
8) Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}
/*--------------------------------------------------------------
9) Widgets
--------------------------------------------------------------*/

.widget {
    margin: 0 0 50px;
}
/* sidebar widget */

#secondary .widget h3 {
    font-size: 21px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    background: url(../images/border_bottom.png) no-repeat left bottom;
}
#secondary .fcp_featured_widget h3 {
    font-size: 18px;
    margin-bottom: 10px;
    background: none;
    padding-bottom: 0;
}
#secondary .widget ul {
    border: 1px solid #e4e8ee;
    padding: 30px;
    list-style: none;
    padding-top: 15px;
}
#secondary .widget ul li ul {
    padding: 0;
    border: none;
}
#secondary .widget ul li {
    font: 14px Montserrat, sans-serif;
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e8ee;
}
#secondary .widget ul li:last-child {
    border: none;
    padding-bottom: 0;
}
#secondary .widget {
    color: #99a6bb;
}
#secondary .widget a {
    color: #262c38;
}
#secondary .widget a:hover {
    color: rgb(241, 0, 38);
}
#secondary .widget_categories {
    color: rgb(241, 0, 38);
}
#secondary .widget_archive select {
    padding: 10px;
    font: 14px Montserrat, sans-serif;
    border: 1px solid #e4e8ee;
}
#secondary .widget_calendar table caption {
    padding: 8px 10px;
    background: #333;
    color: #fff;
}
#secondary .search-form {
    border: 1px solid #e4e8ee;
    position: relative;
}
#secondary .search-form label {
    width: 100%;
    margin-bottom: 0;
}
#secondary .search-field {
    width: 84%;
    border: none;
    background: #fff;
    padding: 8px 15px;
}
#secondary .widget_search .search-submit {
    width: 23px;
    height: 23px;
    padding: 0;
    background: url(../images/i_search.png) no-repeat left top;
    border: none;
    display: block;
    text-indent: -9009px;
    position: absolute;
    right: 8px;
    top: 11px;
}
#secondary .widget_search .search-submit:hover {
    background-position: left bottom;
}
#secondary .widget_search .course-submit {
    position: absolute;
    right: -1px;
    top: -1px;
    padding: 13px 10px 12px 10px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#secondary .widget_search .course-submit i {
    font-size: 18px;
}
#secondary .widget_search .search-course .search-field {
    width: 76%;
}
#secondary .widget_search_filter ul {
    border: none;
    padding: 0;
}
#secondary .widget_search_filter ul li {
    border: none;
}
#secondary .widget_search_filter ul li .checkbox,
#secondary .widget_search_filter ul li .radio {
    margin-top: 0;
    margin-bottom: 0;
}
#secondary .widget_search_filter .search-field {
    margin-bottom: 30px;
    border: 1px solid #e4e8ee;
}
#secondary .widget_search_filter select {
    color: #657184;
    font-family: Raleway, sans-serif;
    margin-bottom: 30px;
    padding: 10px;
    width: 90%;
    background: #eff2f7;
    padding: 13px;
    border: 1px solid #eff2f7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#secondary .widget_search_filter .filter {
    margin-bottom: 30px;
}
#secondary .widget_search_filter .filter li {
    padding: 10px 0;
}
#secondary .widget_search_filter .filter li:hover {
    color: rgb(241, 0, 38);
}
#secondary .widget_search_filter .filter li input[type="checkbox"] {
    margin-right: 20px;
}
#secondary .widget_tag_cloud a {
    padding: 5px 10px;
    margin-bottom: 5px;
    font: 12px Montserrat, sans-serif !important;
    display: inline-block;
    border: 1px solid #e4e8ee;
    color: #99a6bb;
    line-height: 31px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
}
#secondary .widget_tag_cloud a:hover {
    color: rgb(241, 0, 38);
}
/* Make sure select elements fit in widgets. */

.widget select {
    max-width: 100%;
}
/* Search widget. */

.widget_search .search-submit {
    display: none;
}
.course-calendar-body caption {
    background: rgb(241, 0, 38);
    font: bold 15px Montserrat, sans-serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.course-calendar-body th {
    padding: 5px;
    background: #0583e4;
    color: #fff;
    text-align: center;
}
.course-calendar-body td {
    padding: 5px;
    border: 1px solid #eee;
    text-align: center;
}
.course-calendar a.next-month,
.course-calendar a.pre-month {
    background: #0583e4;
    color: #fff !important;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 13px;
}
.course-calendar a:hover.next-month,
.course-calendar a:hover.pre-month {
    background: rgb(241, 0, 38);
}
.course-calendar .next-month,
.course-calendar .pre-month {
    bottom: -35px;
}
#secondary .cp_latest_courses_widget .course-title {
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 15px;
    font: 14px Montserrat, sans-serif;
    border-bottom: 1px solid #e4e8ee;
}
#secondary .cp_latest_courses_widget .course-list-item:last-child .course-title {
    border: none;
}
.course-list {
    padding: 15px 30px 30px;
    border: 1px solid #e4e8ee;
}
.cp_featured_widget_course_link a {
    background: #0583e4;
    color: #fff !important;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 13px;
}
.cp_featured_widget_course_link a:hover {
    background: rgb(241, 0, 38);
}
#secondary .course_structure_widget ul {
    border: none;
    list-style: outside none none;
    padding: 0;
}
#secondary .course-structure-block {
    padding: 15px 30px 30px;
    border: 1px solid #e4e8ee;
}
#secondary .course_structure_widget .tree {
    margin: 0;
    padding: 0;
}
#secondary .course_structure_unit_label {
    margin-top: 0;
}
#secondary .tree li label {
    display: block;
    float: none;
    padding: 0;
    width: auto;
    clear: both;
}
#secondary .course_structure_page_li label {
    border: none;
}
#secondary .tree li {
    margin-left: -5px;
}
#secondary .cp_course_strucutre_widget .course_structure_page_li {
    padding: 0;
    display: table;
    width: 100%;
}
#secondary .cp_course_strucutre_widget .course-structure-block ul.tree,
#secondary .cp_course_strucutre_widget .course-structure-block ul.tree ul {
    margin-left: 5px;
}
#secondary .tree .tree-page-right span {
    margin-left: 0;
}
#secondary .cp_course_strucutre_widget .course-structure-block .course_structure_page_li .tree-page-left {
    padding-left: 0;
}
/* footer widget */

.footer-widget {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #657184;
}
.footer-widget h6 {
    font-size: 18px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
}
.footer-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-widget ul li {
    padding-bottom: 15px;
}
.footer-widget .widget_courses ul li h5 {
    margin: 0 0 10px;
    line-height: normal;
}
.footer-widget .widget_courses ul li p.meta {
    margin: 0;
    padding: 0;
}
.footer-widget .widget_courses ul li {
    margin-bottom: 20px;
    border-bottom: 1px solid #2f3543;
}
.footer-widget .widget_courses ul li:last-child {
    border-bottom: none;
}
.footer-widget .widget_courses ul li p {
    margin-bottom: 0;
    line-height: normal;
}
.footer-widget a,
.footer-widget ul li a {
    color: #ccc;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    border: 0px;
}
.footer-widget a:hover {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    border: 0px;
}
.footer-widget .menu {
    font-family: Raleway, sans-serif;
    font-weight: bold;
}
.footer-widget .quickcontact {
    clear: both;
}
.footer-widget .quickcontact .qc-text {
    width: 97%;
    margin-bottom: 10px;
    background: #262c38;
    border: 1px solid #3a4251;
    color: #586375;
}
.footer-widget .quickcontact .qc-textarea {
    background: #262c38;
    margin-bottom: 10px;
    height: 120px;
    border: 1px solid #3a4251;
    color: #586375;
}
.footer-widget .quickcontact .quicksubmit {
    position: relative;
    height: 1px;
}
.footer-widget .quickcontact .qc-submit {
    position: absolute;
    top: -60px;
    right: 6px;
    font-size: 16px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.footer-widget .quickcontact-validation-errors {
    background: #f7e700;
    color: #262c38;
}
/*--------------------------------------------------------------
10 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1) Posts and pages
--------------------------------------------------------------*/

.main_space {
    padding-bottom: 145px;
}
.sticky {
    display: block;
}
.hentry {
    margin: 0 0 3em;
}
.updated:not(.published) {
    display: none;
}
.single .byline,
.group-blog .byline {
    display: inline;
}
.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}
.entry-content p a {
    text-decoration: underline;
}
.page-links {
    clear: both;
    margin: 0 0 1.5em;
}
/*--------------------------------------------------------------
10.2) Asides
--------------------------------------------------------------*/

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}
/*--------------------------------------------------------------
10.3) Comments
--------------------------------------------------------------*/

.comment-content a {
    word-wrap: break-word;
}
.bypostauthor {
    display: block;
}
/*--------------------------------------------------------------
10.4) Footer Section
--------------------------------------------------------------*/

.site-footer {
    background: #187e89;
}
.site-footer .footer-widget:nth-child(4) {} .copyright {
    padding: 25px 0;
    border-top: 1px solid #2f3543;
}
.site-footer p.copy {
    float: left;
}
.site-footer p.develop {
    float: right;
}
.site-footer p {
    font-size: 14px;
    color: #657184;
}
.site-footer p a {
    color: #fff;
}
.site-footer p a:hover {
    color: #a0b6d8;
}
/*--------------------------------------------------------------
11) Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll .posts-navigation,
/* Older / Newer Posts Navigation (always hidden) */

.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */

    display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */

.infinity-end.neverending .site-footer {
    display: block;
}
/*--------------------------------------------------------------
12) Media
--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
    max-width: 100%;
}
/*--------------------------------------------------------------
12.1) Captions
--------------------------------------------------------------*/

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}
.wp-caption-text {
    text-align: center;
}
/*--------------------------------------------------------------
12.2) Galleries
--------------------------------------------------------------*/

.gallery {
    margin-bottom: 1.5em;
}
.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
.gallery-columns-2 .gallery-item {
    max-width: 50%;
}
.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
    max-width: 25%;
}
.gallery-columns-5 .gallery-item {
    max-width: 20%;
}
.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}
.gallery-caption {
    display: block;
}
/*--------------------------------------------------------------
12.3) Checkbox, Radio and Input CSS
--------------------------------------------------------------*/

.checkbox {
    padding-left: 20px;
}
.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 15px;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top: -1px;
    margin-left: -15px;
    border: 1px solid #cccccc;
    border-radius: 0px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -15px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
}
.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
    display: block;
    content: "";
    width: 15px;
    height: 5px;
    background-color: #555555;
    border-radius: 2px;
    margin-left: -16.5px;
    margin-top: 7px;
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
    opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}
.checkbox.checkbox-inline {
    margin-top: 0;
}
.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #337ab7;
    border-color: #337ab7;
}
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
    color: #fff;
}
.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
    color: #fff;
}
.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
    color: #fff;
}
.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
    background-color: #fff;
    border-color: #fff;
}
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
    color: #fff;
}
.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
    color: #fff;
}
.checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.checkbox-primary input[type="radio"]:indeterminate + label::before {
    background-color: #337ab7;
    border-color: #337ab7;
}
.checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.checkbox-primary input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}
.checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.checkbox-danger input[type="radio"]:indeterminate + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.checkbox-danger input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}
.checkbox-info input[type="checkbox"]:indeterminate + label::before,
.checkbox-info input[type="radio"]:indeterminate + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:indeterminate + label::after,
.checkbox-info input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}
.checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.checkbox-warning input[type="radio"]:indeterminate + label::before {
    background-color: #fff;
    border-color: #fff;
}
.checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.checkbox-warning input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}
.checkbox-success input[type="checkbox"]:indeterminate + label::before,
.checkbox-success input[type="radio"]:indeterminate + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:indeterminate + label::after,
.checkbox-success input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}
.radio {
    padding-left: 20px;
}
.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #fff;
}
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 17px;
    height: 17px;
    left: 0px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
}
.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}
.radio input[type="radio"]:focus + label::before {} .radio input[type="radio"]:checked + label::after {} .radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}
.radio.radio-inline {
    margin-top: 0;
}
.radio-primary input[type="radio"] + label::after {
    background-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #337ab7;
}
.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}
.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}
.radio-warning input[type="radio"] + label::after {
    background-color: #fff;
}
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #fff;
}
.radio-warning input[type="radio"]:checked + label::after {
    background-color: #fff;
}
.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}
input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
    color: #fff;
}
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
    color: #fff;
}
.btn-red {
    background-color: #f00025
}
.btn-red:hover {
    background-color: rgb(215, 4, 38);
}
a.click-to-tell {
    color: #b7b7b7!important;
    text-decoration: underline;
}
a.click-to-tell:hover {
    color: #888!important;
}
.btn-facebook {
    background-color: #3B6FBA !important;
}
.btn-facebook:hover {
    background-color: #3B5998 !important;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #333;
    background-color: #f00025;
}
ul.dropdown-menu:after,
ul.dropdown-menu:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
ul.dropdown-menu:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    left: 45%;
    margin-left: -25px;
}
ul.dropdown-menu:before {
    border-color: rgba(113, 158, 206, 0);
    border-bottom-color: #c7c7c7;
    border-width: 11px;
    left: 45%;
    margin-left: -26px;
    ;
}
ul.dropdown-menu > li {
    font-size: small!important;
    font-weight: normal!important;
}

@media (max-width: 768px) {
#mob_tooltp
{
display: none;
}

.mobile_nav
{
background-color: #fff !important;
padding-bottom: 0;
padding-top: 0;
margin-top: 9px;
}

.site-branding {
padding-bottom:0px !important;
margin-bottom: 0px !important
}

.mobile_number_left
{
padding-left: 0px !important;
padding-top: 10px !important;

}



.bule-seat_text
{
font-size: 28px;font-weight: bold; border-left:0px solid #b7b7b7; padding-left:0px;
}

/*#dropdwn_username*/
/*{*/

    /*#border-right-custtm-new {*/
    /*border-right:0px !important;*/
    /*border-bottom:1px solid #d7d7d7 !important;*/
/*}*/

/*}*/


@media (max-width: 667px) {
#mob_tooltp
{
display: none;
}





.site-branding {
padding-bottom:0px !important;
margin-bottom: 0px !important
}

.mobile_number_left
{
padding-left: 0px !important;
padding-top: 10px !important;

}

.bule-seat_text
{
font-size: 28px;font-weight: bold; border-left:0px !important; padding-left:0px !important;
}

/*#dropdwn_username*/
/*{*/
    /*padding-left: 13px !important;*/
/*}*/

#afect-text-custmm
{
    padding:0px !important
}

#border-right-custtm-new {
    border-right:0px !important;
    border-bottom:1px solid #d7d7d7 !important;
}

.mobile-form-spacing
{
    padding-right:0px !important;
}

}


@media (max-width: 640px) {
#mob_tooltp
{
display: none;
}



#afect-text-custmm
{
    padding:0px !important
}

.site-branding {
padding-bottom:0px !important;
margin-bottom: 0px !important
}

.bule-seat_text
{
font-size: 28px;font-weight: bold; border-left:0px !important; padding-left:0px !important;
}

.mobile_number_left
{
padding-left: 0px !important;
padding-top: 10px !important;

}

/*#dropdwn_username*/
/*{*/
    /*padding-left: 13px !important;*/
/*}*/

#border-right-custtm-new {
    border-right:0px !important;
    border-bottom:1px solid #d7d7d7 !important;
}

.mobile-form-spacing
{
    padding-right:0!important;
}



}


@media (max-width: 600px) {
#mob_tooltp
{
display: none;
}



.bule-seat_text
{
font-size: 28px;font-weight: bold; border-left:0px !important; padding-left:0px !important;
}

.site-branding {
padding-bottom:0px !important;
margin-bottom: 0px !important
}

.mobile_number_left
{
padding-left: 0px !important;
padding-top: 10px !important;

}

#afect-text-custmm
{
    padding:0px !important
}

/*#dropdwn_username*/
/*{*/
    /*padding-left: 13px !important;*/
/*}*/

#border-right-custtm-new {
    border-right:0px !important;
    border-bottom:1px solid #d7d7d7 !important;
}

.mobile-form-spacing
{
    padding-right:0px !important;
}

}



@media (max-width: 568px) {
#mob_tooltp
{
display: none;
}

.bule-seat_text
{
font-size: 28px;font-weight: bold; border-left:0px !important; padding-left:0px !important;
}



.site-branding {
padding-bottom:0px !important;
margin-bottom: 0px !important
}

.mobile_number_left
{
padding-left: 0px !important;
padding-top: 10px !important;

}

#afect-text-custmm
{
    padding:0px !important
}

/*#dropdwn_username*/
/*{*/
    /*padding-left: 13px !important;*/
/*}*/

#border-right-custtm-new {
    border-right:0px !important;
    border-bottom:1px solid #d7d7d7 !important;
}

.mobile-form-spacing
{
    padding-right:0px !important;
}

}



@media (max-width: 480px) {
#mob_tooltp
{
display: none;
}


.site-branding {
padding-bottom:0px !important;
margin-bottom: 0px !important
}

.mobile_number_left
{
padding-left: 0px !important;
padding-top: 10px !important;

}

#afect-text-custmm
{
    padding:0px !important
}

.bule-seat_text
{
font-size: 28px;font-weight: bold; border-left:0px !important; padding-left:0px !important;
}

/*#dropdwn_username*/
/*{*/
    /*padding-left: 13px !important;*/
/*}*/

#border-right-custtm-new {
    border-right:0px !important;
    border-bottom:1px solid #d7d7d7 !important;
}

.mobile-form-spacing
{
    padding-right:0px !important;
}

}


@media (max-width: 414px) {

#mob_tooltp
{
display: none;
}

.site-branding {
padding-bottom:0px !important;
margin-bottom: 0px !important
}

.mobile_number_left
{
padding-left: 0px !important;
padding-top: 10px !important;
margin-bottom: 10px !important;
}

/*#dropdwn_username*/
/*{*/
    /*padding-left: 13px !important;*/
/*}*/

.apply-home-mobile
{
    padding-top:15%;
    padding-bottom: 2%;
    font-size:19px;
    font-weight:bold;
    color: #000;

}

#afect-text-custmm
{
    padding:0px !important
}

.bule-seat_text
{
font-size: 28px;font-weight: bold; border-left:0px !important; padding-left:0px !important;
}

#border-right-custtm-new {
    border-right:0px !important;
    border-bottom:1px solid #d7d7d7 !important;
}

.mobile-form-spacing
{
    padding-right:0px !important;
}

}

@media (max-width: 384px) {

#mob_tooltp
{
display: none;
}

.site-branding {
padding-bottom:0px !important;
margin-bottom: 0px !important
}

.mobile_number_left
{
padding-left: 0px !important;
padding-top: 10px !important;
margin-bottom: 10px !important;

}




/*#dropdwn_username*/
/*{*/
    /*padding-left: 13px !important;*/
/*}*/

.apply-home-mobile
{
    padding-top:15%;
    padding-bottom: 2%;
    font-size:19px;
    font-weight:bold;
    color: #000;

}

.bule-seat_text
{
font-size: 28px;font-weight: bold; border-left:0px !important; padding-left:0px !important;
}

#border-right-custtm-new {
    border-right:0px !important;
    border-bottom:1px solid #d7d7d7 !important;
}

#afect-text-custmm
{
    padding:0px !important
}

.mobile-form-spacing
{
    padding-right:0!important;
}

}

@media (max-width: 320px) {



/*.mobile_nav*/
/*{*/
/*background-color: rgb(24,126,137) !important;*/
/*padding-bottom: 10px;*/
/*padding-top: 10px;*/

/*}*/
#mob_tooltp
{
display: none;
}

.bule-seat_text
{
font-size: 28px;font-weight: bold; border-left:0px solid #b7b7b7; padding-left:0px;
}

.site-branding {
padding-bottom:0px !important;
margin-bottom: 0px !important
}

.mobile_number_left
{
padding-left: 0px !important;
padding-top: 10px !important;
margin-bottom: 10px !important;

}

#border-right-custtm-new {
    border-right:0px !important;
    border-bottom:1px solid #d7d7d7 !important;
}

#afect-text-custmm
{
    padding:0px !important
}

#dropdwn_username
{
    padding-left: 13px !important;
    margin-bottom: 8px !important;
}

.apply-home-mobile
{
    padding-top:15%;
    padding-bottom: 2%;
    font-size:19px;
    font-weight:600;
    color: #000;
}

.banner-screen-mobile
{

}

.mobile-form-spacing
{
    padding-right:0px!important;
}
}


}
.menuBg-top {
background-color: #000;
left: 0;
position: fixed;
right: 0;
z-index: 1000002;
}

ul.dropdown-menu > li {
	font-size: small!important;
	font-weight: normal!important;
}

.modal-fadeIn{
	transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.3s linear;/*opening speed*/
  -o-transition: all 0.3s linear;/*opening speed*/
  transition: all 0.3s linear;/*opening speed*/
}

.modal-fadeIn.in{
	opacity: 1;
		transform: scale(1);/*size of the div to scal after .in class attached on opening modal*/
}

.mainscreen-label{
    font-size: 1.3em;
}

.dropdown-menu{

    right: 1px !important;
}