body.modal-open {
    overflow: inherit;
    padding-right: 0 !important;
}
.top-logo-main {
    padding-top: 25px;
}
.top-drag-search {
    float: left;
    width: 46%;
    text-align: right;
    padding-top: 26px;
}
#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}
.search {
    padding: 5px 0;
    width: 233px;
    height: 34px;
    position: relative;
    float: right;
    line-height: 22px;
    clear: both;
}
.search input {
    position: absolute;
    width: 0px;
    float: Left;
    margin-left: 210px;
    height: 34px;
    line-height: 18px;
    padding: 0 10px 0 10px;
    border-radius: 0px;
    font-size: 14px;
}
.search:hover input,
.search input:focus {
    width: 200px;
    margin-left: 0px;
    border: none;
}
.btn-search {
    height: 34px;
    position: absolute;
    right: 0;
    top: 0px;
    border-radius: 0px;
    background-color: #23b4df;
    border-color: #23b4df;
    font-size: 13px;
}
.btn-search:hover {
    background-color: #41358b;
    border-color: #41358b;
}
.btn-primary.focus,
.btn-primary:focus {
    background-color: #286090;
    border-color: none;
    color: #fff;
}
.top-login a {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    float: left;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
}
.top-login {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
.top-login a {
    background-color: #41358b;
    color: #fff;
    cursor: pointer;
    float: left;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
}
.top-login a:hover {
    background-color: #23b4df;
    color: #fff !important;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.sign-up-top {
    float: left;
    margin-left: 0;
}
.sign-up-top a {
    background-color: #e10077;
    color: #fff;
    cursor: pointer;
    float: left;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
}
.sign-up-top a:hover {
    background-color: #23b4df;
    color: #fff !important;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.menuBg-top {
    background-color: #fff;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1000002;
}
.button.navbar-right {
    padding-top: 0px;
}
.nav-button {
    background-color: #fbca31;
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 12px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    margin-right: 5px;
}
.nav-button.login {
    background-color: #1c1c1c;
    margin-right: 5px;
    text-transform: uppercase;
}
.nav-button:hover {
    background-color: #dd013f;
}
.navbar {
    margin-bottom: 0px;
    min-height: 80px;
}
.navbar-default {
    background-image: none !important;
    background-color: #000;
    background-repeat: repeat-x;
    border-radius: 0px;
    box-shadow: none;
    border: 0px;
}
.navbar .container {
    padding-top: 15px
}
.btn-search-top {
    background-color: #23b4df;
    border: 0 none;
    border-radius: 0px;
    font-size: 12px;
    font-weight: 600;
    height: 34px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 2px;
}
.btn-search-top:hover {
    background-color: #cf152d;
    border: 0 none;
}
.top-input-slide {
    background-color: #060606 !important;
}
.form-control:focus {
    border-color: #66afe9;
    box-shadow: none;
    outline: 0 none;
}

.top-logo-main {
    padding-bottom: 7px;
    padding-top:17px;
}

.top-fixed-wrapp {
    position: fixed;
    z-index: 999999;
    width: 100%;
}
.rank-box {
    font-size: 25px;
    color: #fff;
}
.player-badge {
    float: left;
    width: 100%;
    text-align: center;
}
.player-badges-icon {
    padding-bottom: 10px;
}


@media (max-width: 480px) {
    .navbar-right {
        float: left !important;
        margin-right: 0 !important;
        clear: both;
        width: 100%;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .navbar-collapse {
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: #6441a4;
    }
    .navbar-toggle-new {
        border-radius: 0px !important;
    }
    .navbar-default .navbar-nav > li > a {
        border-bottom: 1px solid #fff;
    }
    .navbar-default .navbar-nav > li > a:hover {
        color: #000;
        background-color: #fbbe2d;
    }
    
*::after, *::before {
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}

}
@media only screen and (max-width: 1000px) {} @media only screen and (max-width: 1200px) {
    .top-drag-search {
        float: left;
        width: 30%;
        border: 1px solid red;
        text-align: right;
        padding-top: 26px;
    }
    .top-drag-search {
        display: none;
    }
    .login-container-box {
        display: none;
    }
    .top-mobile {
        display: block;
    }
    .modal-dialog {
        margin: 116px auto;
    }
    .banner-slide-main {
        clear: both;
        padding-top: 116px;
    }
    
        .by-credits-buttton
    {
        width:100%;
    }
	
	.transfer-credits-buttton
	{
	 width:100%;	
	}

}