<!DOCTYPE html>


{% load static from staticfiles %}


<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>EducationPress - The Most Complete Education Solution</title>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="{% static 'js/html5shiv.min.js' %}"></script>
  <script src="{% static 'js/respond.min.js' %}"></script>
<![endif]-->

<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}"/>

<!-- Bootstrap -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<!--Font Awesome-->
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<!--Linearicons-Free-->
<link rel="stylesheet" href="{% static 'css/linearicons-free.css' %}">
<!--simple-line-icons-->
<link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}">
<!--fancybox-->
<link rel="stylesheet" href="{% static 'vendor/fancybox/css/fancybox.css' %}">

<!--Theme Styles-->
<link rel="stylesheet" href="{% static 'css/global.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<!-- header -->
<header class="site-header" id="masthead">

  <!-- header_meta #start -->
  <div class="header_meta">
    <div class="container">
      <div class="row">
        <p class="site-description col-xs-12 col-sm-6"> The Most Complete Education Solution </p>
        <nav class="meta-login">
          <ul>
            <li class="call"><i class="lnr lnr-smartphone"></i>Call Us  +731 234 5678</li>
            <li><a href="#register-form" class="fancybox">Signup</a></li>
			<li><a href="#login-form" class="fancybox">Login</a></li>
          </ul>
        </nav>
      </div>
      <!--row #end-->
    </div>
    <!--container #end-->
  </div>
  <!-- Header Meta #end -->
  <!-- header_meta #end -->

  <div class="container">
    <div class="row">
      <!-- #site-branding #start -->
      <div class="site-branding col-xs-12 col-sm-3"> <a rel="home" href="#"> <img alt="educationpress" class="brand" src="{% static 'images/logo.png' %}"> </a> </div>
      <!-- #site-branding #end -->


      <!-- #site-navigation #start -->
      <nav class="main-navigation navbar navbar-default" id="site-navigation">
        <div class="navbar-header">
          <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav" id="main_nav">
            <li class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">
            Home <span class="caret"></span></a>
              <ul class=" dropdown-menu" role="menu">
                <li><a href="home.html">Home Page 1</a></li>
              </ul>
            </li>
            <li class="dropdown">
            	<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">
                Courses <span class="caret"></span></a>
            	<ul class="dropdown-menu" role="menu">
                <li><a href="colleges.html">Courses Grid and List</a></li>
                <li><a href="courses-list-grid.html">courses List and Grid</a></li>
                <li><a href="courses-3-columns.html">Courses List 3 Columns</a></li>
                <li><a href="courses-video-details.html">Courses Detail With Video</a></li>
                <li><a href="courses-video-details.html">Courses Detail With Video</a></li>
               </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">
            	Events <span class="caret"></span></a>
            	<ul class="dropdown-menu" role="menu">
                <li><a href="events.html">Event Listing</a></li>
                <li><a href="event-detail.html">Event Detail</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">
            Pages <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="aboutus.html">About Us</a></li>
                <li><a href="techers.html">Teachers</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="faqs.html">FAQs</a></li>
                <li><a href="shortcodes.html">Shortcodes</a></li>
                <li><a href="pricing-plan.html">Plans and Pricing</a></li>
                <li><a href="404-error.html">404 Error</a></li>
                <li><a href="under-construction.html">Under Construction</a></li>
              </ul>
            </li>
             <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">
             Blog <span class="caret"></span></a>
             <ul class="dropdown-menu" role="menu">
                <li><a href="blog.html">Blog Listing</a></li>
                <li><a href="blog-details.html">Blog Detail</a></li>
              </ul>
             </li>
             <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">
             Shop <span class="caret"></span></a>
             <ul class="dropdown-menu" role="menu">
                <li><a href="shopping-cart.html">Shopping Cart</a></li>
                <li><a href="checkout.html">Checkout</a></li>
              </ul>
             </li>
            <li><a href="contactus.html">Contact Us</a></li>
            <li class="pull-right"><a title="View your cart" href="shopping-cart.html" class="menu-cart"><i class="lnr lnr-cart"></i> <span>0</span></a></li>
          </ul>
        </div>
      </nav>
      <!-- #site-navigation  #end-->

    </div><!--row #end-->
  </div> <!--container #end-->
</header>
<!-- header #end -->

<div class="breadcrumb-section">
	<div class="container">
    	<div class="row">
            <header class="entry-header">
            <h1 class="entry-title">404 Error</h1>
            </header><!-- .entry-header -->
        </div> <!--row #end  -->
    </div>
</div><!-- Breadcrumb #end -->

<div class="page-spacer clearfix">
<div id="primary">
 		<main id="main" class="site-main">
 			<section class="error-404 not-found">

            	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
                	<span class="font-large">404 <strong>page not found</strong></span>


                 <h2 class="text-center head-border-default">Something Is Wrong</h2>

				<div class="page-content">
					<h4>The page you are looking for was moved, removed, renamed
						or might never exist.</h4>

					 <a href="#" class="btn btn-normal btn-medium">Go Home</a>

                     </div>

				</div><!-- .page-content -->
			</section><!-- .error-404 -->

		</main><!-- #main -->
	</div><!-- #primary -->
</div> <!-- page-spacer #end  -->



<div class="signup-newsletter">
	<div class="container">
    	<div class="row">
             <div class="col-xs-12 col-sm-6">
             <span class="i-email-subscribe"><i class="icon-envelope-letter icons"></i></span>
             <h3>Signup for Newsletter</h3>
             <p>Lorem Ipsum is simply dummy text of the printing contents and typesetting industry.</p>
             </div>

             <div class="col-xs-12 col-sm-6">
             	<form method="post" class="sign-form" id="signupform">
	            <input type="email" required placeholder="Your email address" class="form-control" name="EMAIL">
				<button class="btn btn-orange btn-medium" value="Sign up" type="submit">Signup <i class="lnr lnr-arrow-right"></i></button>
                 </form>
            </div>
        </div>
    </div>
</div> <!-- #signup_newsletter End -->

<footer id="colophon" class="site-footer">
  <div class="container">
     <div class="row">
    	<div class="col-xs-12 col-sm-3 footer-widget">
        	 <aside class="widget widget_text" id="text-1">
             <h6 class="widget-title">About EducationPress</h6>
             <div class="textwidget">
             <p>Lorem ipsum dolor sit amet, consectet
            ur adipiscing Nunc varius sed dolor
            sed sagittis will be helpful.</p>
            <p>Morbi quis eros ornare, rhoncus lorem
            efficitur erat. Morbi est at.</p>
            </div>
		</aside>
        </div>

      <div class="col-xs-12 col-sm-3 footer-widget">
      		<aside class="widget menu">
            	<h6 class="widget-title">Quick Links</h6>
            	<ul>
                	<li><a href="#">Courses</a></li>
                    <li><a href="#">Instructor</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Legal Desclaimer</a></li>
                    <li><a href="#">Shortcodes</a></li>
                </ul>
            </aside>

        </div>


        <div class="col-xs-12 col-sm-3 footer-widget">
        	 <aside class="widget widget_courses">
             	<h6 class="widget-title">Recent Courses</h6> <ul>
                  <li class="clearfix">
                         <img alt="" class="course-media-img" src="{% static 'images/use_img/f1.jpg' %}" />
                         <div class="simi-co">
                        <h5><a href="#">Learn to Use jQuery UI Widgets</a></h5>
                        <p>Maecenas cursus mauris libero, a imperdi.</p>
                         </div>
                 </li>
                 <li class="clearfix">
                         <img alt="" class="course-media-img" src="{% static 'images/use_img/f2.jpg' %}" />
                         <div class="simi-co">
                        <h5><a href="#">Learn to Use jQuery UI Widgets</a></h5>
                         <p>Maecenas cursus mauris libero, a imperdi.</p>
                        </div>
                 </li>
               </ul>
            </aside>
        </div>


        <div class="col-xs-12 col-sm-3 footer-widget">
        	 <aside class="widget widget_quickcontact" >
              <h6 class="widget-title">Quick Contact</h6>
                    <form class="quickcontact" method="post" action="#">
                       <input type="email" placeholder="Your email address" class="qc-text" size="40" value="" name="your-email">
                       <textarea placeholder="Type your message" aria-invalid="false" class="qc-textarea" rows="10" cols="40" name="your-message"></textarea>
                       <div class="quicksubmit">
                       <input type="submit" class="qc-submit btn btn-default" value="→">
                       </div>
                    </form>
             </aside>
        </div>

    </div> <!-- row #end -->
  </div><!--container #end  -->


  <div class="container">
  	<div class="row">
        <div class="copyright">
        <p class="copy col-xs-12 col-sm-6">&copy; Copyright 2016. All Rights Reserved by EducationPress.</p>
        <p class="develop col-xs-12 col-sm-3 text-right">Develop by <a href="http://themecycle.com">ThemeCycle.com</a></p>
        </div>
    </div>
  </div>

</footer>
<!-- #colophon -->

<!-- loginform popup start -->
<div id="login-form" style="display:none;">
     <div class="row">
         <h3>Login</h3>
        <p>Please Login to Create a New Course</p>
         <form id="login" action="#" >
            <input name="email" type="text" placeholder="Email or Username" >
            <input name="password" type="text" placeholder="Password" >

            <div class="row remeber">
                <label><input name="rember" type="checkbox" value=""> Remember Me</label>
                <a href="#">Forgot Password?</a>
            </div>
            <div class="text-center button">
                <input name="Login" type="button" value="Login Now">
            </div>
        </form>
    </div> <!-- row #end -->
</div> <!-- loginform popup #end -->

<!-- register popup start -->
<div id="register-form" style="display:none;">
     <div class="row">
     <h3>Register</h3>
    <p>Please Register to Create a New Account</p>
     <form id="register" action="#" >
        <input name="name" type="text" placeholder="Name" >
        <input name="username" type="text" placeholder="Username" >
        <input name="email" type="text" placeholder="Email" >
        <input name="password" type="text" placeholder="Password" >
        <input name="confirmpassword" type="text" placeholder="Confirm Password" >

        <div class="row new-login">
             Already have an account? <a href="#">Login to your account! </a>
        </div>
        <div class="text-center button">
        	<input name="create-account" type="button" value="Create an Account">
        </div>
    </form>
    </div>
</div>
<!-- register popup #end -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Theme js -->
<script src="{% static 'js/theme.js' %}"></script>
<!-- Fancybox js -->
<script type="text/javascript" src="{% static 'vendor/fancybox/js/jquery.fancybox.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/fancybox/js/custom.fancybox.js' %}"></script>
<script>
jQuery.noConflict();
jQuery('.fancybox').fancybox();
</script>
</body>
</html>