{% extends 'base.html' %}
{% load static from staticfiles %}
{% block meta %}
    <title>About Us - Just Rokket</title>
	<meta charset="utf-8">
	<meta name="language" content="en-us">
	<meta name="robots" content="noodp"/>
	<link rel="canonical" href="https://justrokket.com/about-us/" />
	<meta name="description"content="Just Rokket is the first and only platform in India offering scholarships along with admission into leading  MBA, Engineering and other colleges.">
	<meta name="copyright" content="2017 Explore Edu Tech Private Limited">
	<meta name="content-language" content="EN">
	<meta name="publisher" content="https://justrokket.com/">
    <meta name="contact" content="service@justrokket.com">
    <meta property="og:image" content="{% static 'featured.jpg' %}">
	<meta name="theme-color" content="#187e89">
	<!--Facebook Tags-->
	<meta property="og:type" content="website">
	<meta property="og:title" content="About Us - Just Rokket">
	<meta property="og:description" content="Just Rokket is the first and only platform in India offering scholarships along with admission into leading  MBA, Engineering and other colleges.">
	<meta property="og:url" content="https://justrokket.com/about-us/">
	<meta property="og:site_name" content="Just Rokket | Scholarships with admission">
	<meta property="og:image" content="{% static 'featured.jpg' %}">

	<!--Twitter Tags-->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" content="https://justrokket.com/about-us/">
	<meta name="twitter:title" content="About Us - Just Rokket">
	<meta name="twitter:description" content="Just Rokket is the first and only platform in India offering scholarships along with admission into leading  MBA, Engineering and other colleges.">
	<meta name="twitter:image" content="{% static 'featured.jpg' %}">

	<!--Google+ Tags-->
	<meta itemprop="name" content="About Us - Just Rokket">
	<meta itemprop="description" content="Just Rokket is the first and only platform in India offering scholarships along with admission into leading  MBA, Engineering and other colleges.">
	<meta itemprop="image" content="{% static 'featured.jpg' %}">
{% endblock meta %}
{% block content %}
    <div class="breadcrumb-section" style="background:url({% static 'images/banner-image.jpg' %}); background-size: cover;">
	    <div class="container">
            <div class="row">
                <header class="entry-header">
                <h1 class="entry-title">About Us</h1>
                </header>
            </div>
        </div>
    </div>


<div class="container">
    <div class="row about-us-main-box">
        <div class="col-md-12">
            <div class="col-md-12">
                <h2>Who We Are!</h2>
                <p>Just Rokket is the first and only platform in India which offers scholarships along with admission for higher education courses
                    in leading educational institutions of the country. Whether you are looking for admission to MBA, Engineering, Medical,
                    Pharmacy, Journalism, Education or any other course, Just Rokket enables you to apply and get admission into them along
                    with scholarships offered specially to students getting admission to the institutions through Just Rokket platform.
                <br>We aim to make education more affordable by helping students get education at lower fees.
                </p>

                <h2>Our Credentials</h2>
                <p>Founded in January 2017 in Gurgaon, India, by Ashish Kohli, an NIT (Allahabad) and IIM (Lucknow) alumnus with over 22
                    years of senior management experience across companies such as The Arvind Mills, Bausch & Lomb, Vodafone and Tata
                    Docomo, Just Rokket has started its operations with the education hub of Delhi NCR and its surroundings.
                </p>

                <h2>So, Why Take Admission Through Us?</h2>
                <p>Decided what you want to study and where you want to study? Great. On Just Rokket, share your performance in previous
                    exams and get scholarship along with admission offers from institutions in the city that offer those courses you want to study.
                    Now simply select the offer and apply!
                <br>Your application is sent directly to the institution selected by you which then gets in touch with you and completes the
                    admission formalities. Convenience at the click of a button.

                <br><br>Scholarships on Just Rokket are standard offers made on behalf of institutions:
                    <ul>
                        <li>They can be as high as 50% and even more depending on the institution offer.</li>
                        <li>They are based on merit and applicable for the full terms of course.</li>
                        <li>There is complete transparency on the offer that is endorsed by the institutions in their admission letters to you.</li>


                    </ul>
                </p>


                <p>We help you in making the decision about the institution through all the features and information provided.
                    <br>- Just Rokket partners with leading institutions.
                    <br>- Our dedicated customer support service ensures ‘zero complaints’.
                    <br>- Just Rokket is committed to the values of honesty and quality. We live by these values in all aspects.
                </p>

            </div>
        </div>
    </div>
</div>





{% endblock %}