{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}
<title>Just Rokket</title>
{% endblock title %}
{% block content %}




<div class="breadcrumb-section" style="background:url({% static 'images/banner-image.jpg' %}); background-size: cover;">
	<div class="container">
    	<div class="row">
            <header class="entry-header">
            <h1 class="entry-title">Tricks and Tips for Adobe Photoshop CS6</h1>
            </header><!-- .entry-header -->
        </div> <!--row #end  -->
    </div>
</div><!-- Breadcrumb #end -->

<div class="page-spacer clearfix">
	<div id="primary" class="content-area">
       <div class="container">
        	<div class="row">

		<main id="main" class="site-main col-xs-12 col-sm-8 left-block">
        	
            
             <article class="post hentry">
                    <a href="#"><figure><img src="{% static 'images/blog-800x350.jpg' %}" alt="" /></figure> </a>
                  
                   <header class="entry-header">
                    <div class="entry-meta">
                        <span class="posted-on"> March 17, 2016</span> 
                        <span class="byline"> by <span class="author vcard"><a href="#" class="url fn n">Greg Christman</a></span> <small>.</small></span>
                        <span class="cat-links">Posted in " <a href="#">Online Courses</a> " <small>.</small></span> 
                        <span class="tags-links">Tags " <a href="#">Development</a> " </span>
                    </div>
                    <!-- .entry-meta --> 
                  </header>
                  <!-- .entry-header -->
                  
                  <div class="entry-content">
                    <p>Vestibulum maximus finibus scelerisque. Nam finibus odio eget nisi pharetra imperdiet. Curabitur urna neque, bibendum quis nibh vel, tincidunt facilisis augue. In posuere, libero id faucibus sagittis, nunc augue convallis sem, ac scelerisque velit dolor at massa. Etiam nec nibh elit.</p>
                    <p>Nullam dictum accumsan hendrerit. Donec tempus ex non ante auctor, hendrerit viverra sem interdum. Vivamus sed eros a nisi pulvinar hendrerit. Cras dui nibh, sodales nec orci ut, fringilla molestie sapien. Mauris posuere, nisi eget ornare vestibulum, est est consectetur nisi, eget ullamcorper leo elit sit amet orci. Pellentesque in ex quis felis mattis ultricies. Etiam vitae lectus fringilla, ornare sem non, interdum diam</p>
                  </div>
                  <!-- .entry-content --> 
                  
                </article>
                <!-- article #end -->
                
                <nav class="navigation post-navigation" >
                  <div class="nav-links">
                    <div class="nav-previous"> <i class="fa fa-arrow-circle-left"></i> <a href="#">Audio tutorial for WordPress</a></div>
                    <div class="nav-next"><a href="#">The Design of HTML5</a> <i class="fa fa-arrow-circle-right"></i></div>
                  </div>
                </nav>
                <!-- post navigation -->
                
                <section class="related-posts clearfix">
                  <h3>Related Posts</h3>
                  <div class="col-xs-12 col-sm-6">
                    <article> <a href="#"> <img src="{% static 'images//use_img/relatedpost.jpg' %}" alt=""  /></a>
                      <h4><a href="#">Audio tutorial for WordPress</a></h4>
                      <p class="meta">In "<a href="#">Music</a>, <a href="#">Online Courses</a>"</p>
                    </article>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <article> <a href="#"> <img src="{% static 'images//use_img/relatedpost.jpg' %}" alt="" /></a>
                      <h4><a href="#">Audio Editing Basics with Reaper</a></h4>
                      <p class="meta">In "<a href="#">Online Courses</a>"</p>
                    </article>
                  </div>
                </section>
                <!-- realated post #end -->
                
                <section class="about-author clearfix">
                  <div class="col-xs-12 col-sm-3"> <img class="avatar" src="{% static 'images//use_img/post_author.jpg' %}" alt=""> </div>
                  <div class="col-xs-12 col-sm-9">
                    <h3><a href="#">Greg Christman</a> <span>(Head In Nichola's Sports Academy)</span></h3>
                    <ul class="social-icons si-detail">
                      <li><a href="http://facebook.com"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="http://google.com"><i class="fa fa-google-plus"></i></a></li>
                      <li><a href="http://twitter.com"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="http://linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="http://pinterest.com"><i class="fa fa-pinterest"></i></a></li>
                      <li><a href="http://instagram.com"><i class="fa fa-instagram"></i></a></li>
                      <li><a href="http://youtube.com"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet nulla sed neque congue pharetra sed sed leo. Pellentesque elementum porttitor libero hendrerit porta. Aenean vitae odio semper, iaculis nibh non, hendrerit augue. Nam non tincidunt justo, eu fermentum nulla</p>
                    <a class="btn btn-ex-small btn-orange" href="#">View All Post</a> </div>
                </section>
                <!-- about authors #end -->
                
                <div class="comments-area" id="comments">
                  <h2 class="comments-title"> <span>(4)</span> Comments </h2>
                  <ol class="comment-list">
                    <li class="comment even thread-even">
                      <article class="comment-body">
                        <div class="author-photo"> <a href="" class="avatar"> <img class="avatar" src="{% static 'images//use_img/post_author.jpg' %}" alt="" /></a> </div>
                        <div class="comment-wrapper">
                          <div class="comment-meta">
                            <div class="comment-author vcard">
                              <h5 class="fn">Jones Lee</h5>
                            </div>
                          </div>
                          <div class="comment-content">
                            <p>This looks like a dream. It makes perfect sense. A place where authentic problems are solved and learning takes place at “just the right moment.”</p>
                          </div>
                          <div class="comment-metadata">
                            <span>April 2, 2016 <small>.</small> 5 months ago</span>
                          </div>
                          <div class="reply"> <a href="#" class="comment-reply-link btn btn-default">Reply</a> </div>
                        </div>
                      </article>
                      <!-- end of comment --> 
                    </li>
                    <!-- #comment-## -->
                    <li class="comment odd alt thread-odd thread-alt">
                      <article class="comment-body">
                        <div class="author-photo"> <a href="" class="avatar"> <img class="avatar" src="{% static 'images//use_img/post_author.jpg' %}" alt="" /></a> </div>
                        <div class="comment-wrapper">
                          <div class="comment-meta">
                            <div class="comment-author vcard">
                              <h5 class="fn">James Bond</h5>
                            </div>
                          </div>
                          <div class="comment-content">
                            <p>Why not do this in a other areas? Nothing you describe cannot be done in everywhere in America. All it takes it LEADERSHIP to make it happen!!</p>
                          </div>
                          <div class="comment-metadata">
                            <span>April 2, 2016 <small>.</small> 5 months ago</span>
                          </div>
                          <div class="reply"> <a href="#" class="comment-reply-link btn btn-default">Reply</a> </div>
                        </div>
                      </article>
                      <!-- end of comment -->
                      <ul class="children">
                        <li class="comment even depth-2">
                          <article class="comment-body">
                            <div class="author-photo"> <a href="" class="avatar"> <img class="avatar" src="{% static 'images//use_img/post_author.jpg' %}" alt="" /></a> </div>
                            <div class="comment-wrapper">
                              <div class="comment-meta">
                                <div class="comment-author vcard">
                                  <h5 class="fn">Jones Lee</h5>
                                </div>
                              </div>
                              <div class="comment-content">
                                <p>This is true and I have also experienced such in others. Implementation of this is at the heart of what we support and nurture at Powerful Learning Practice.</p>
                              </div>
                              <div class="comment-metadata">
                                <span>April 2, 2016 <small>.</small> 5 months ago</span>
                              </div>
                              <div class="reply"> <a href="#" class="comment-reply-link btn btn-default">Reply</a> </div>
                            </div>
                          </article>
                          <!-- end of comment --> 
                        </li>
                        <!-- #comment-## -->
                      </ul>
                      <!-- .children --> 
                    </li>
                    <!-- #comment-## -->
                    <li id="li-comment-10" class="comment odd alt thread-even depth-1">
                      <article class="comment-body" id="comment-10">
                        <div class="author-photo"> <a href="" class="avatar"> <img class="avatar" src="{% static 'images//use_img/post_author.jpg' %}" alt="" /></a> </div>
                        <div class="comment-wrapper">
                          <div class="comment-meta">
                            <div class="comment-author vcard">
                              <h5 class="fn">Josef Ermola</h5>
                            </div>
                          </div>
                          <div class="comment-content">
                            <p>In the short term- the get it started now with good leadership &mdash; it is more efficient (I think) to start with a community to do so. Less strings attached I think. However, this sort of thing would be a fantastic.</p>
                          </div>
                          <div class="comment-metadata">
                            <span>April 2, 2016 <small>.</small> 5 months ago</span>
                          </div>
                          <div class="reply"> <a href="#" class="comment-reply-link btn btn-default">Reply</a> </div>
                        </div>
                      </article>
                      <!-- end of comment --> 
                    </li>
                    <!-- #comment-## -->
                  </ol>
                  <!-- .comment-list -->
                  
                  
                  <!-- comment form start -->
                  <div class="comment-respond" id="respond">
                    <h3 class="comment-reply-title" id="reply-title">Leave A Comment</h3>
                    <form class="comment-form" id="commentform" method="post" action="#">
                      <p class="comment-form-author">
                        <label>Name <span class="required">*</span></label>
                        <input type="text" value="" name="author" id="author">
                      </p>
                      <p class="comment-form-email">
                        <label>Email <span class="required">*</span></label>
                        <input type="email" value="" name="email" id="email">
                      </p>
                      <p class="comment-form-url">
                        <label>Website</label>
                        <input type="url" value="" name="url">
                      </p>
                      <p class="comment-form-comment">
                        <label>Comment</label>
                        <textarea rows="8" cols="45" name="comment"></textarea>
                      </p>
                      <p class="form-submit">
                        <input type="submit" value="Submit" class="submit btn btn-default" id="submit" name="submit">
                      </p>
                    </form>
                  </div>
                  <!-- comment form #end -->
                  
                </div> <!-- commentedarea #end -->

              
        	
 		</main><!-- main -->
        
        
        <!-- sidebar start-->
        <div class="widget-area col-xs-12 col-sm-4 pull-right" id="secondary">
              <aside class="widget widget_search">
                <h3>Search bar</h3>
                <form action="#" class="search-form" method="get">
                    <input type="search" title="Search for:" name="s" value="" placeholder="Search …" class="search-field">
                   <input type="submit" value="Search" class="search-submit btn btn-default">
                </form>
              </aside>
              {% comment %}<aside class="widget widget_categories">
                <h3 class="widget-title">Categories</h3>
                <ul>
                  <li><a href="#">HTML5 and CSS3</a> (1) </li>
                  <li><a href="#">Java Script Development</a> (1) </li>
                  <li><a href="#">Music</a> (2) </li>
                  <li><a href="#">News</a> (2) </li>
                  <li><a href="#">Online Courses</a> (9) </li>
                  <li><a href="#">Web Development</a> (2) </li>
                </ul>
              </aside>{% endcomment %}
              <aside class="widget recent_posts_widget">
                <h3 class="widget-title">Recent Posts</h3>
                <ul>
                  <li class="clearfix"> <img src="{% static 'images//use_img/widget-thumb.jpg' %}" alt="" />
                    <div class="simi-co">
                      <h5><a href="#">Can We Talk? A Real Conversation About Employee Performance</a></h5>
                      <p class="meta"><a href="#">News</a></p>
                    </div>
                  </li>
                  <li class="clearfix"> <img src="{% static 'images//use_img/widget-thumb.jpg' %}" alt="" />
                    <div class="simi-co">
                      <h5><a href="#">Create A Professional Music Video For Songwriters/Musicians</a></h5>
                      <p class="meta"><a href="#">Music</a></p>
                    </div>
                  </li>
                  <li class="clearfix"> <img src="{% static 'images//use_img/widget-thumb.jpg' %}" alt="" />
                    <div class="simi-co">
                      <h5><a href="#">Tricks and Tips for Adobe Photoshop CS6</a></h5>
                      <p class="meta"><a href="#">Online Courses</a></p>
                    </div>
                  </li>
                </ul>
              </aside>
              {% comment %}<aside class="widget widget_tag_cloud">
                <h3 class="widget-title">Tags</h3>
                <div class="tagcloud">
                <a href="#">Adobe</a> 
                <a href="#">Courses</a> 
                <a href="#">Development</a>
                <a href="">HTML5</a> 
                <a href="#">Lorem</a> <a href="#">Music</a> 
                <a href="#">Photoshop</a>
                </div>
              </aside>
              <aside class="widget widget_archive">
                <h3 class="widget-title">Archives</h3>
                 <select onchange="" name="archive" >
                  <option value="">Select Month</option>
                  <option value="#"> March 2016 </option>
                </select>
              </aside>{% endcomment %}
            </div>
        <!-- sidebar #end -->
        
        
 
			 </div> <!-- row -->
         </div> <!-- container -->
  </div><!-- #primary -->
</div><!-- page-spacer --> 
    
 {% endblock %}