{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}
<title>Just Rokket</title>
{% endblock title %}
{% block content %}

<div class="breadcrumb-section" style="background:url({% static 'images/banner-image.jpg' %}); background-size: cover;">
	<div class="container">
    	<div class="row">
            <header class="entry-header">
            <h1 class="entry-title">Blog</h1>
            </header><!-- .entry-header -->
        </div> <!--row #end  -->
    </div>
</div><!-- Breadcrumb #end -->

<div class="about-us-main-box clearfix">
	<div id="primary" class="content-area">
       <div class="container">
        	<div class="row">

		<main id="main" class="site-main col-xs-12 col-sm-8 left-block">


            <article class="post sticky hentry"> 
               <!-- Image Post --> 
               <a href="#" class="post-thumb">
              <figure> <img alt="" src="{% static 'images/blog-800x350.jpg' %}" />
                <div class="sticky-tag"><i class="glyphicons glyphicon-star"></i> <span></span><small></small></div>
              </figure>
              </a>
              <header class="entry-header">
                <h2 class="entry-title"><a href="#">The Design of HTML5</a></h2>
              </header>
              <!-- .entry-header -->
              
              <div class="entry-content">
                <p>Nullam dictum accumsan hendrerit. Donec tempus ex non ante auctor, hendrerit viverra sem interdum. 
                Vivamus sed eros a nisi pulvinar hendrerit. Cras dui nibh, sodales nec orci ut, fringilla molestie sapien. 
                Mauris posuere, nisi eget ornare vestibulum, est est consectetur nisi, eget ullamcorper leo elit sit amet orci. 
                Pellentesque in ex quis felis mattis ultricies. </p>
              </div>
              <!-- entry-content -->
              
              <footer class="entry-footer">
                <div class="entry-meta">
                <span class="posted-on"> <a href="#">March 17, 2016</a></span> 
                <span class="byline"> by <span class="author vcard"><a href="#" class="url">Greg Christman</a></span></span> 
                <small>.</small> 
                <span class="cat-links">Posted in " <a href="#">Online Courses</a> " 
                <small>.</small></span>  
                <span class="tags-links">Tags " <a rel="tag" href="#">HTML5</a> " <small>.</small> </span> 
                <span class="comments-link"><a href="#">3 Comments</a></span> 
                </div>
                <!-- entry-meta --> 
               </footer>
               <!-- entry-footer --> 
              
              <a class="btn btn-medium read-more" href="#">Read More <i class="lnr lnr-arrow-right"></i></a>
              </article>
              <!-- article #end -->
              
              
              
              <article class="post hentry"> 
               <!-- Image Post --> 
              <a href="#" class="post-thumb">
              <figure><img alt="" src="{% static 'images/use_img/blog_img1.jpg' %}" /></figure>
              </a>
              <header class="entry-header">
                <h2 class="entry-title"><a href="#">Tricks and Tips for Adobe Photoshop CS6</a></h2>
              </header>
              <!-- .entry-header -->
              
              <div class="entry-content">
                <p>Nullam dictum accumsan hendrerit. Donec tempus ex non ante auctor, hendrerit viverra sem interdum. 
                Vivamus sed eros a nisi pulvinar hendrerit. Cras dui nibh, sodales nec orci ut, fringilla molestie sapien. 
                Mauris posuere, nisi eget ornare vestibulum, est est consectetur nisi, eget ullamcorper leo elit sit amet orci. 
                Pellentesque in ex quis felis mattis ultricies. </p>
              </div>
              <!-- entry-content -->
              
              <footer class="entry-footer">
                <div class="entry-meta"> 
                <span class="posted-on"><a href="#">March 17, 2016</a></span> 
                <span class="byline">by <span class="author vcard"><a href="#" class="url">ebastien Gabriel</a></span></span> 
                <small>.</small> 
                <span class="cat-links">Posted in " <a rel="category tag" href="#">Online Courses</a> " <small>.</small> </span>
                </div>
                <!-- entry-meta --> 
               </footer>
               <!-- entry-footer --> 
              
              <a class="btn btn-medium read-more" href="#">Read More <i class="lnr lnr-arrow-right"></i></a>
              </article>
              <!-- article #end -->
              
              
               <article class="post hentry"> 
               <!-- Image Post --> 
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
               <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="{% static 'images/use_img/blog_img1.jpg' %}" alt="" />
                </div>
            
                <div class="item">
                  <img src="{% static 'images/use_img/blog_img1.jpg' %}" alt="" />
                </div>
            
               <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div> <!--carousel-inner #end  -->
            </div>  <!--carousel #end  -->
              
              <header class="entry-header">
                <h2 class="entry-title"><a href="#">Tricks and Tips for Adobe Photoshopcc 2015</a></h2>
              </header>
              <!-- .entry-header -->
              
              <div class="entry-content">
                <p>Nullam dictum accumsan hendrerit. Donec tempus ex non ante auctor, hendrerit viverra sem interdum. 
                Vivamus sed eros a nisi pulvinar hendrerit. Cras dui nibh, sodales nec orci ut, fringilla molestie sapien. 
                Mauris posuere, nisi eget ornare vestibulum, est est consectetur nisi, eget ullamcorper leo elit sit amet orci. 
                Pellentesque in ex quis felis mattis ultricies. </p>
              </div>
              <!-- entry-content -->
              
              <footer class="entry-footer">
                <div class="entry-meta">
                	<span class="posted-on"><a href="#">March 17, 2016</a></span>
                    <span class="byline">by <span class="author vcard"><a href="#" class="url">ebastien Gabriel</a></span> <small>.</small></span>
                    <span class="cat-links">Posted in " <a rel="category tag" href="#">Online Courses</a> " <small>.</small></span>
                </div>
                <!-- entry-meta --> 
               </footer>
               <!-- entry-footer --> 
              
              <a class="btn btn-medium read-more" href="#">Read More <i class="lnr lnr-arrow-right"></i></a>
              </article>
              <!-- article #end -->
              
              
              <!-- article blockquote start #end -->
            <article class="post hentry" >
            <blockquote class="post-quote">
                <i class="fa fa-quote-left"></i>
                <p>Praesent volutpatid nuncpretium ullamcorper Nunc infelis magnauis pharetra our is venenatis justo dapibus gravida class aptent.</p>
                <footer>Solvis Denial</footer>
            </blockquote>
             </article> <!-- blockquote article #end -->
            
            
            <article class="post hentry"> 
               <!-- Image Post --> 
              <a href="#" class="post-thumb">
              <figure><img alt="" src="{% static 'images//use_img/blog_img1.jpg' %}" /></figure>
              </a>
              <header class="entry-header">
                <h2 class="entry-title"><a href="#">The Design of HTML5</a></h2>
              </header>
              <!-- .entry-header -->
              
              <div class="entry-content">
                <p>Nullam dictum accumsan hendrerit. Donec tempus ex non ante auctor, hendrerit viverra sem interdum. 
                Vivamus sed eros a nisi pulvinar hendrerit. Cras dui nibh, sodales nec orci ut, fringilla molestie sapien. 
                Mauris posuere, nisi eget ornare vestibulum, est est consectetur nisi, eget ullamcorper leo elit sit amet orci. 
                Pellentesque in ex quis felis mattis ultricies. </p>
              </div>
              <!-- entry-content -->
              
              <footer class="entry-footer">
                <div class="entry-meta">
                	<span class="posted-on"> <a href="#">March 17, 2016</a></span> 
                    <span class="byline"> by <span class="author vcard"><a href="#" class="url">Greg Christman</a></span> <small>.</small> </span>
                    <span class="cat-links">Posted in " <a href="#">Online Courses</a> " <small>.</small> </span>
                    <span class="tags-links">Tags " <a rel="tag" href="#">HTML5</a> " <small>.</small> </span>
                    <span class="comments-link"><a href="#">3 Comments</a></span>
                 </div>
                <!-- entry-meta --> 
               </footer>
               <!-- entry-footer --> 
              
              <a class="btn btn-medium read-more" href="#">Read More <i class="lnr lnr-arrow-right"></i></a>
              </article>
              <!-- article #end -->
              
              
             <div class="pagination">
            <span class="page-numbers current">1</span>
            <a href="#" class="page-numbers">2</a>
            <a href="#" class="page-numbers">3</a>
            <a href="#" class="next page-numbers"><i class="fa fa-angle-right"></i></a>
            </div>
              
        	
 		</main><!-- main -->
        
        
        <!-- sidebar start-->
        <div class="widget-area col-xs-12 col-sm-4 pull-right" id="secondary">
              {% comment %}<aside class="widget widget_search">
                <h3>Search bar</h3>
                <form action="#" class="search-form" method="get">
                    <input type="search" title="Search for:" name="s" value="" placeholder="Search …" class="search-field">
                   <input type="submit" value="Search" class="search-submit btn btn-default">
                </form>
              </aside>{% endcomment %}
              {% comment %}<aside class="widget widget_categories">
                <h3 class="widget-title">Categories</h3>
                <ul>
                  <li><a href="#">HTML5 and CSS3</a> (1) </li>
                  <li><a href="#">Java Script Development</a> (1) </li>
                  <li><a href="#">Music</a> (2) </li>
                  <li><a href="#">News</a> (2) </li>
                  <li><a href="#">Online Courses</a> (9) </li>
                  <li><a href="#">Web Development</a> (2) </li>
                </ul>
              </aside>{% endcomment %}
              <aside class="widget recent_posts_widget">
                <h3 class="widget-title">Recent Posts</h3>
                <ul>
                  <li class="clearfix"> <img src="{% static 'images/use_img/widget-thumb.jpg' %}" alt="" style="height: 75px;" />
                    <div class="simi-co">
                      <h5><a href="#">Can We Talk? A Real Conversation About Employee Performance</a></h5>
                      <p class="meta"><a href="#">News</a></p>
                    </div>
                  </li>
                  <li class="clearfix"> <img src="{% static 'images/use_img/widget-thumb.jpg' %}" alt="" style="height: 75px;" />
                    <div class="simi-co">
                      <h5><a href="#">Create A Professional Music Video For Songwriters/Musicians</a></h5>
                      <p class="meta"><a href="#">Music</a></p>
                    </div>
                  </li>
                  <li class="clearfix"> <img src="{% static 'images/use_img/widget-thumb.jpg' %}" alt="" style="height: 75px;" />
                    <div class="simi-co">
                      <h5><a href="#">Tricks and Tips for Adobe Photoshop CS6</a></h5>
                      <p class="meta"><a href="#">Online Courses</a></p>
                    </div>
                  </li>
                </ul>
              </aside>
              {% comment %}<aside class="widget widget_tag_cloud">
                <h3 class="widget-title">Tags</h3>
                <div class="tagcloud">
                <a href="#">Adobe</a> 
                <a href="#">Courses</a> 
                <a href="#">Development</a>
                <a href="">HTML5</a> 
                <a href="#">Lorem</a> <a href="#">Music</a> 
                <a href="#">Photoshop</a>
                </div>
              </aside>
              <aside class="widget widget_archive">
                <h3 class="widget-title">Archives</h3>
                 <select onchange="" name="archive" >
                  <option value="">Select Month</option>
                  <option value="#"> March 2016 </option>
                </select>
              </aside>{% endcomment %}
            </div>
        <!-- sidebar #end -->
        
        
 
			 </div> <!-- row -->
         </div> <!-- container -->
  </div><!-- #primary -->
</div><!-- page-spacer --> 
    
    


{% endblock %}