{% extends 'base.html' %}
{% load static from staticfiles %}
{% block meta %}
    <title>Contact Us - Just Rokket</title>
	<meta charset="utf-8">
	<meta name="language" content="en-us">
	<meta name="robots" content="noodp"/>
	<link rel="canonical" href="https://justrokket.com/contact-us/" />
	<meta name="description"content="Get In touch with the JustRokket team. Phone: +91 8376840610, Email: service@justrokket.com. You can also send us a query here or via our social media channels">
	<meta name="copyright" content="2017 Explore Edu Tech Private Limited">
	<meta name="content-language" content="EN">
	<meta name="publisher" content="https://justrokket.com/">
    <meta name="contact" content="service@justrokket.com">
    <meta property="og:image" content="{% static 'featured.jpg' %}">
	<meta name="theme-color" content="#187e89">
	<!--Facebook Tags-->
	<meta property="og:type" content="website">
	<meta property="og:title" content="Contact Us - Just Rokket">
	<meta property="og:description" content="Get In touch with the JustRokket team. Phone: +91 8376840610, Email: service@justrokket.com. You can also send us a query here or via our social media channels">
	<meta property="og:url" content="https://justrokket.com/contact-us/">
	<meta property="og:site_name" content="Just Rokket | Scholarships with admission">
	<meta property="og:image" content="{% static 'featured.jpg' %}">

	<!--Twitter Tags-->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" content="https://justrokket.com/contact-us/">
	<meta name="twitter:title" content="Contact Us - Just Rokket">
	<meta name="twitter:description" content="Get In touch with the JustRokket team. Phone: +91 8376840610, Email: service@justrokket.com. You can also send us a query here or via our social media channels">
	<meta name="twitter:image" content="{% static 'featured.jpg' %}">

	<!--Google+ Tags-->
	<meta itemprop="name" content="Contact Us - Just Rokket">
	<meta itemprop="description" content="Get In touch with the JustRokket team. Phone: +91 8376840610, Email: service@justrokket.com. You can also send us a query here or via our social media channels">
	<meta itemprop="image" content="{% static 'featured.jpg' %}">
{% endblock meta %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js"></script>
    <div class="breadcrumb-section" style="background:url({% static 'images/banner-image.jpg' %}); background-size: cover;">
	    <div class="container">
            <div class="row">
                <header class="entry-header">
                <h1 class="entry-title">Contact Us - Just Rokket</h1>
                </header>
            </div>
        </div>
    </div>

<div class="clearfix" style="margin-top: 1em;">
       		<div class="container">
            	<div class="row">


               	<div class="col-xs-12 col-sm-6 contact-form" >
                	<h3>Stay in Touch</h3>
{#					<p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>#}
                   <div id="success" class="alert alert-success">Your message succesfully sent!</div>
  					<div id="error"  class="alert alert-danger">Opps! There is something wrong. Please try again</div>
                    <form class="contactform form" method="POST" action="/contact-form/" id="contactForm">{% csrf_token %}
                      <p><input type="text" placeholder="First Name" required id="fname" name="first_name"></p>
                      <p><input type="text" placeholder="Last Name" required id="lname" name="last_name"></p>
                      <p><input type="text" id="phone" name="phone" placeholder="Phone Number"></p>
                      <p><input type="email" id="email" name="email" required placeholder="Email Address"></p>
                      <p><textarea placeholder="Message"  name="message" id="message" rows="10" cols="40"></textarea></p>
                      <p><input type="submit" class="btn btn-default" value="submit now">
                    </form>
                </div> <!-- contact-form #end -->


                 <!-- right col #startt -->
                 <div class="col-xs-12 col-sm-6 contact-info">
                 	 <div class="col-xs-12 col-sm-6">
                  		<h3 class="head-border-default">Our Address</h3>
                        <p class="address"><i class="fa fa-map-marker"></i>91 Springboard<br>
                            Plot 23, Sector 18<br>Gurugram, Haryana<br>
                        Pincode - 122015</p>
                        <p class="email"><i class="lnr lnr-envelope"></i>service@justrokket.com</p>

                        <ul class="list-inline">
                    	<li><a href="#"><i class="fa fa-facebook" style=""></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" style="margin-left: 1em;"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" style=" margin-left: 1em;"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" style="margin-left: 1em;"></i></a></li>
                   		</ul>
                 	</div>

                    <div class="col-xs-12 col-sm-6">
                 		<h3 class="head-border-default">Customer Supprt</h3>
                        <p class="phone"><i class="fa fa-phone"></i>+91 8376840610</p>
                        <p class="email"><i class="lnr lnr-envelope"></i>service@justrokket.com</p>
                 	</div>
                 </div> <!-- right col #end -->


                <div class="col-xs-12 col-sm-12 map-location">
                	<h3 class="head-border-default">Map and Location</h3>
                	<!--Map-->
				  	{% comment %}<div id="mapBox" class="row m0" data-lat="37.3818288" data-lon="-122.0636325" data-zoom="15" data-marker="images/map-marker.png"></div>{% endcomment %}
                    <div class="map-overlay" style="pointer-events: none;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5247.988911024429!2d77.06107360654582!3d28.489595261038538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d190c75a33723%3A0xbefda63e1fe6030a!2s91springboard!5e0!3m2!1sen!2sin!4v1485169349208" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen scrolling="false"></iframe>
                    </div>
                </div>



            </div> <!--row #end  -->
        </div><!-- container #end -->
 </div> <!-- page-spacer #end  -->
 {% for message in messages %}
    <script>
        jQuery(document).ready(function () {
            jQuery.bootstrapGrowl("{{ message }}", {
              ele: 'body',
              type: 'info',
              offset: {from: 'top', amount: 200},
              align: 'right',
              width: 350,
              delay: 8000,
              allow_dismiss: true,
              stackup_spacing: 10
            })
        })
    </script>
{% endfor %}

{% endblock %}


 
    
    
