{% extends 'base.html' %}
{% load static from staticfiles %}
{% block meta %}
    <title>Frequently Asked Questions - Just Rokket</title>
	<meta charset="utf-8">
	<meta name="language" content="en-us">
	<meta name="robots" content="noodp"/>
	<link rel="canonical" href="https://justrokket.com/faq/" />
	<meta name="description"content="How can I get a scholarship on Just Rokket? ..The process to acquire the scholarship is simple, fast and done entirely over the internet. You choose a scholarship available at a partner institution that fits your goals and budget, acquire the pre-registration and you are ready to enjoy the discount percentage until the end of your course.">
	<meta name="copyright" content="2017 Explore Edu Tech Private Limited">
	<meta name="content-language" content="EN">
	<meta name="publisher" content="https://justrokket.com/">
    <meta name="contact" content="service@justrokket.com">
    <meta property="og:image" content="{% static 'featured.jpg' %}">
	<meta name="theme-color" content="#187e89">
	<!--Facebook Tags-->
	<meta property="og:type" content="website">
	<meta property="og:title" content="Frequently Asked Questions - Just Rokket">
	<meta property="og:description" content="How can I get a scholarship on Just Rokket? ..The process to acquire the scholarship is simple, fast and done entirely over the internet. You choose a scholarship available at a partner institution that fits your goals and budget, acquire the pre-registration and you are ready to enjoy the discount percentage until the end of your course.">
	<meta property="og:url" content="https://justrokket.com/faq/">
	<meta property="og:site_name" content="Just Rokket | Scholarships with admission">
	<meta property="og:image" content="{% static 'featured.jpg' %}">

	<!--Twitter Tags-->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" content="https://justrokket.com/faq/">
	<meta name="twitter:title" content="Frequently Asked Questions - Just Rokket">
	<meta name="twitter:description" content="How can I get a scholarship on Just Rokket? ..The process to acquire the scholarship is simple, fast and done entirely over the internet. You choose a scholarship available at a partner institution that fits your goals and budget, acquire the pre-registration and you are ready to enjoy the discount percentage until the end of your course.">
	<meta name="twitter:image" content="{% static 'featured.jpg' %}">

	<!--Google+ Tags-->
	<meta itemprop="name" content="Frequently Asked Questions - Just Rokket">
	<meta itemprop="description" content="How can I get a scholarship on Just Rokket? ..The process to acquire the scholarship is simple, fast and done entirely over the internet. You choose a scholarship available at a partner institution that fits your goals and budget, acquire the pre-registration and you are ready to enjoy the discount percentage until the end of your course.">
	<meta itemprop="image" content="{% static 'featured.jpg' %}">
{% endblock meta %}

{% block content %}
<div class="breadcrumb-section" style="background:url({% static 'images/banner-image.jpg' %}); background-size: cover;">
	<div class="container">
    	<div class="row">
            <header class="entry-header">
            <h1 class="entry-title">Frequently Asked Questions - Just Rokket</h1>
            </header><!-- .entry-header -->
        </div> <!--row #end  -->
    </div>
</div><!-- Breadcrumb #end -->

<div class="clearfix">
	<div id="primary" class="content-area">
       <div class="container">
        	<div class="row about-us-main-box">

			<main id="main" class="site-main col-xs-12">
                 <div class="row">
                     <div class="panel panel-default">
                        <a href="#custom-collapse-0" style="text-decoration: none;"  data-toggle="collapse" class="collapsed">
                            <div class="panel-heading">
                              <h4 class="panel-title faq-heading">
                              What is Just Rokket? <span class="caret" style="float: right;"></span></h4>
                            </div>
                        </a>
                        <div class="panel-collapse collapse" id="custom-collapse-0">

                            <div class="panel-body">
                                <p>Just Rokket is an online platform that offers scholarships to study different courses in various top colleges and universities of India.</p>
                            </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <a href="#custom-collapse-1" style="text-decoration: none;"  data-toggle="collapse" class="collapsed"><div class="panel-heading" >
                          <h4 class="panel-title faq-heading">
                         How can I get a scholarship on Just Rokket? <span class="caret" style="float: right;"></span></h4>
                        </div></a>
                        <div class="panel-collapse collapse" id="custom-collapse-1">
                            <div class="panel-body">
                                 <p>The process to acquire the scholarship is simple, fast and done entirely over the internet. You choose a scholarship available at a partner institution that fits your goals and budget, acquire the pre-registration and you are ready to enjoy the discount percentage until the end of your course.</p>
                            </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <a href="#custom-collapse-2" style="text-decoration: none;"  data-toggle="collapse" class="collapsed"><div class="panel-heading" >
                          <h4 class="panel-title  faq-heading">
                          What is the meaning of scholarship?<span class="caret" style="float: right;"></span></h4>
                        </div></a>
                        <div class="panel-collapse collapse" id="custom-collapse-2">

                            <div class="panel-body">
                                <p>Scholarship implies the percentage of tuition fees waiver available to you from an institution. It is applicable on every instalment of tuition fees paid by you towards the course or qualification enrolled.</p>
                            </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <a href="#custom-collapse-3" style="text-decoration: none;"  data-toggle="collapse" class="collapsed"><div class="panel-heading" >
                          <h4 class="panel-title  faq-heading">
                         Do I need to pay something to get a scholarship?<span class="caret" style="float: right;"></span></h4>
                        </div></a>
                        <div class="panel-collapse collapse" id="custom-collapse-3">

                            <div class="panel-body">
                                <p>In order to enjoy the scholarship, you are required to pay a pre-registration amount on our platform. Please refer to the pricing page on our website to get info on our current pricing policy. <br>
                                Please note however that whatever pre registration amount you pay here is reimbursed by the college when you join it. Else, you have the option of refund ( as per our refund policy ).</p>
                            </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <a href="#custom-collapse-4" style="text-decoration: none;"  data-toggle="collapse" class="collapsed"><div class="panel-heading" >
                          <h4 class="panel-title  faq-heading">
                         Can I apply on Just Rokket for a scholarship even though I don’t have my qualifying exam results(class 12 board or graduation final results)?<span class="caret" style="float: right;"></span></h4>
                        </div></a>
                        <div class="panel-collapse collapse" id="custom-collapse-4">

                            <div class="panel-body">
                                <p>Yes, you can apply for a scholarship on Just Rokket though your admission will be provisional till your qualifying exam results are available and minimum eligibility criteria can be confirmed by the institution. In case you do not have a result for a competitive exam also, there will still be an offer for you from most educational institutions.<br>Applying early usually leads to higher scholarships.</p>
                            </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                       <a href="#custom-collapse-5" style="text-decoration: none;"  data-toggle="collapse" class="collapsed"> <div class="panel-heading" >
                          <h4 class="panel-title  faq-heading">
                          Will the percentage of discount remain the same throughout?<span class="caret" style="float: right;"></span></h4>
                        </div></a>
                        <div class="panel-collapse collapse" id="custom-collapse-5">

                            <div class="panel-body">
                                <p>Yes. Even if there is a revision in the college fees or if different fees is chargeable in different terms of the course, the percentage waiver of tuition fees available to you will remain the same.</p>
                            </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <a href="#custom-collapse-6" style="text-decoration: none;"  data-toggle="collapse" class="collapsed"><div class="panel-heading " >
                          <h4 class="panel-title faq-heading">
                          Do I need to pay anything else after pre-registration?<span class="caret" style="float: right;"></span></h4>
                        </div></a>
                        <div class="panel-collapse collapse" id="custom-collapse-6">

                            <div class="panel-body">
                                <p>No. After pre-registration, you are not required to pay anything else to Just Rokket and you will get the benefit of the scholarship for the full term of your course.</p>
                            </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <a href="#custom-collapse-7" style="text-decoration: none;"  data-toggle="collapse" class="collapsed"><div class="panel-heading">
                          <h4 class="panel-title faq-heading">
                          What is the Just Rokket scholarship voucher?<span class="caret" style="float: right;"></span></h4>
                        </div></a>
                        <div class="panel-collapse collapse" id="custom-collapse-7">

                            <div class="panel-body">
                                <p>The Just Rokket scholarship voucher is the certificate of your payment of pre-registration amount with us and subsequent enrolment for the scholarship offer with the institution. It is to be submitted to the admitting institution as part of the admission documents.</p>
                            </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <a href="#custom-collapse-8" style="text-decoration: none;"  data-toggle="collapse" class="collapsed"><div class="panel-heading" >
                          <h4 class="panel-title  faq-heading">
                          How can I be sure that I am going to get the scholarship ?<span class="caret" style="float: right;"></span></h4>
                        </div></a>
                        <div class="panel-collapse collapse" id="custom-collapse-8">

                            <div class="panel-body">
                                <p>‘Just Rokket’ has a partnership with the institution you are applying to, along with similar partnerships with other colleges and universities listed on this site. The scholarship offered for the full duration of your course in an institution is a part of the partnership between the institution and us. You will receive a written confirmation of this scholarship from the institution as part of their admission offer documents.</p>
                            </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                       <a href="#custom-collapse-9" style="text-decoration: none;"  data-toggle="collapse" class="collapsed"> <div class="panel-heading">
                          <h4 class="panel-title  faq-heading">
                          Can I use the same pre-registration more than once on Just Rokket?<span class="caret" style="float: right;"></span></h4>
                        </div></a>
                        <div class="panel-collapse collapse" id="custom-collapse-9">

                            <div class="panel-body">
                                <p>A selection of particular course and qualification and campus on a pre-registration voucher can be used in any another combination for the same college if the college agrees for the same. A voucher is non transferable to any academic year other than the one for which it has been issued.<br>
                                Also pre-registration cannot be used in any college other than the one for which it is issued. In this case, you are required to make a new pre-registration, selecting the new institution and course. You can also contact us and request for the transfer of the pre-registration to another institution provided you have not used the Just Rokket scholarship voucher issued.</p>
                            </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <a href="#custom-collapse-10" style="text-decoration: none;"  data-toggle="collapse" class="collapsed"><div class="panel-heading">
                          <h4 class="panel-title  faq-heading">
                          Is there anything more that needs to be done by me to avail the scholarship in the college ?<span class="caret" style="float: right;"></span></h4>
                        </div></a>
                        <div class="panel-collapse collapse" id="custom-collapse-10">

                            <div class="panel-body">
                                <p>Actually nothing much! You only need to ensure that there is no discrepancy in the offer extended to you by the college as part of the admission offer provided to you through email or a printed copy, etc. In the rare case that there is one, the same needs to be brought to our notice asap so that we may work towards resolving the discrepancy.<br>
                                Ensure that you are completing all steps required for selection confirmation by the institution, like for example any further assessments, submission of documents, fees, etc. As soon as the institution confirms your admission, the scholarship is also confirmed.<br>
                                Also, you may need to submit a copy of the scholarship voucher (issued by us) while submitting your ‘’proof of eligibility’’ documents (or their copies) to the college. The procedure may vary slightly as per as per the institution. The most common procedure is to submit the voucher in the admission office or the accounts office.</p>
                            </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <a href="#custom-collapse-11" style="text-decoration: none;"  data-toggle="collapse" class="collapsed"><div class="panel-heading" >
                          <h4 class="panel-title  faq-heading">
                          What is the procedure followed by the educational institution for confirming my admission?<span class="caret" style="float: right;"></span></h4>
                        </div></a>
                        <div class="panel-collapse collapse" id="custom-collapse-11">

                            <div class="panel-body">
                                <p>The admission process followed by the concerned institution is the same applicable as when you would have applied directly. After the application, the institution will contact you and the necessary next steps will have to be finished including such steps like attending any further assessment steps, payment of fees (registration, etc.) and other admission process steps as are followed by the institution.</p>
                            </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <a href="#custom-collapse-12" style="text-decoration: none;"  data-toggle="collapse" class="collapsed"><div class="panel-heading" >
                          <h4 class="panel-title  faq-heading">
                          Can I get a scholarship if I am already enrolled in the institution?<span class="caret" style="float: right;"></span></h4>
                        </div></a>
                        <div class="panel-collapse collapse" id="custom-collapse-12">

                            <div class="panel-body">
                                <p>Scholarships on Just Rokket are applicable for new students who do not have an admission offer from the institution for a given qualification/course and campus.</p>
                            </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <a href="#custom-collapse-13" style="text-decoration: none;"  data-toggle="collapse" class="collapsed"><div class="panel-heading" >
                          <h4 class="panel-title  faq-heading">
                          I have a scholarship for a course/qualification but now I want to transfer it to another course/qualification or campus within the same college.</br> Can I do it?<span class="caret" style="float: right;"></span></h4>
                        </div></a>
                        <div class="panel-collapse collapse" id="custom-collapse-13">

                            <div class="panel-body">
                                <p>The scholarship on Just Rokket is applicable for the specific qualification and course (if chosen) and the campus. In case you want to change any of the specifications like qualification, course or campus, the rules and decision of the college will apply with regards to the transfer of scholarship to the new choice.
                                </p>
                            </div>
                        </div>
                     </div>
                     <div class="panel panel-default">
                        <a href="#custom-collapse-14" style="text-decoration: none;"  data-toggle="collapse" class="collapsed"><div class="panel-heading" >
                          <h4 class="panel-title  faq-heading">
                          I paid my pre-registration amount but I did not join the institution. Will you return the amount paid?<span class="caret" style="float: right;"></span></h4>
                        </div></a>
                        <div class="panel-collapse collapse" id="custom-collapse-14">

                            <div class="panel-body">
                                <p>Of course! We are committed to your satisfaction and will cancel your pre-registration and refund the pre-registration amount paid to us.<br>
                                You should inform us of your request for cancellation of pre-registration and refund of the pre-registration amount, along with reason for the same, through your user account.<br>
                                The maximum period to which you can apply for a refund of the pre-registration amount is till 15 days after the session of the institution, to which your were admitted, has started.<br>
                                Please note that while we try to process a refund request within 15 days of its receipt, the refund process can be lengthy at times due to the fact that we have to notify the institution of your withdrawal and get confirmation from them that you did not enrol.</p>


                            </div>
                        </div>
                     </div>
             </div>

				</main><!-- #main -->
			</div> <!-- row -->
         </div> <!-- container -->
  </div><!-- #primary -->
</div><!-- page-spacer --> 
 
    
    
{% endblock %}