{% extends 'base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}
{% block meta %}
    <title>Scholarships with admission | Just Rokket</title>
	<meta charset="utf-8">
	<meta name="language" content="en-us">
	<meta name="robots" content="noodp"/>
	<link rel="canonical" href="https://justrokket.com" />
	<meta name="description"content="Get scholarship with admission to top colleges for MBA, Engineering, Pharmacy, Education, Animation and lots of other courses. Apply online for admission to graduation and post graduation courses across colleges in India.">
	<meta name="copyright" content="2017 Explore Edu Tech Private Limited">
	<meta name="content-language" content="EN">
	<meta name="publisher" content="https://justrokket.com/">
    <meta name="contact" content="service@justrokket.com">
    <meta property="og:image" content="{% static 'images/featured.jpg' %}">
	<meta name="theme-color" content="#187e89">
	<!--Facebook Tags-->
	<meta property="og:type" content="website">
	<meta property="og:title" content="Scholarships with admission | Just Rokket">
	<meta property="og:description" content="Get scholarship with admission to top colleges for MBA, Engineering, Pharmacy, Education, Animation and lots of other courses. Apply online for admission to graduation and post graduation courses across colleges in India.">
	<meta property="og:url" content="https://justrokket.com">
	<meta property="og:site_name" content="Just Rokket | Scholarships with admission">
	<meta property="og:image" content="{% static 'images/featured.jpg' %}">
	<!--Twitter Tags-->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" content="https://justrokket.com">
	<meta name="twitter:title" content="Scholarships with admission | Just Rokket">
	<meta name="twitter:description" content="Get scholarship with admission to top colleges for MBA, Engineering, Pharmacy, Education, Animation and lots of other courses. Apply online for admission to graduation and post graduation courses across colleges in India.">
	<meta name="twitter:image" content="{% static 'images/featured.jpg' %}">

	<!--Google+ Tags-->
	<meta itemprop="name" content="Scholarships with admission | Just Rokket">
	<meta itemprop="description" content="Get scholarship with admission to top colleges for MBA, Engineering, Pharmacy, Education, Animation and lots of other courses. Apply online for admission to graduation and post graduation courses across colleges in India.">
	<meta itemprop="image" content="{% static 'featured.jpg' %}">

    <!--unslider-->

{% endblock meta %}

{% block content %}
    <style type="text/css">
        .selectRow {
            display : block;
            padding : 20px;
        }
        .select2-container {
            width: 200px;
        }

        .select2-drop-active{
            margin-top: -25px;
        }

        .popover{
            width:18em;
            min-width: 18em;
        }
{#        #form-container{#}
{#            display: none;#}
{#        }#}


    </style>
    <div id="banner-screen-main" class="mainscreen bnnr-mobile home-screen-relative">
        <div class="row">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0;">
                <div class="col-md-12 col-xs-12 col-sm-12 display-none" style="padding-right: 0px!important;">
                    <div class="text-center" style="margin-top: 2em;">
                            <h2 class="apply-home-mobile" style="color:#333333;font-family: 'Raleway', sans-serif;font-weight: lighter;">
                                WHAT DO YOU WANT TO STUDY
                            </h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6 col-lg-6 col-xs-12 col-md-offset-3 col-lg-offset-3 col-sm-6 col-sm-offset-3 form-top display-none">
                        <div class="panel panel-default" style="background: transparent; border: none;font-family: 'Raleway', sans-serif;">
                            <div class="panel-body" style="padding: 0;">
                                <div class="col-md-12 " style="">
                                    <form action="/explore-post/" class="form" id="scholarship-form" method="post" name="scholarship-form">
                                        {% csrf_token %}

                                        <div class="changer switcheroo-wrapper">
                                            <input class="btn-toggle mainscreen-buttons" id="id_g_level" name="level" style="font-family: 'Raleway', sans-serif;" type="radio" value="G" checked> <label class="bs-bet-type-label mainscreen-label" style=
                                            "margin-left:17%;font-family: 'Raleway', sans-serif;">GRAD</label> <input class="btn-toggle btn-subdued" id="id_pg_level" name="level" style="font-family: 'Raleway', sans-serif;" type="radio" value="PG"> <label class="btn-toggle mainscreen-label" style="font-family: 'Raleway', sans-serif;">PG</label>
                                        </div>

                                            <div class="form-group">
                                                <p style="font-family: 'Raleway', sans-serif;font-size: 15px; padding-left: 0px;color:#333333;margin-bottom: 0px;">
                                                <span class="city-text-error"></span><br>
                                                {% comment %}<span class="city-parent city-error-red">Search for courses in <a class="city-link" style="color: #f00025;">City ?</a></span>{% endcomment %}
                                                <div class="city-select-parent">
                                                    <select class="form-control-1 city nofocus" id="id_location" name="city" style="width:100%;">
                                                        <option disabled selected value="-1">Course?</option>
                                                        {% for city in view.get_cities %}
                                                            <option value="{{ city.id }}">{{ city.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </p>
                                            </div>
{#                                        <script>#}
{#                                            jQuery(document).ready(function(){#}
{#                                            jQuery('[data-toggle="popover"]').popover();#}
{#                                        });#}
{#                                        </script>#}


                                        <div class="form-group col-xs-12" style="padding: 2px 2px 0 2px; border-radius: 0;font-size: 13px;font-family: 'Raleway', sans-serif;">
                                            <select class="form-control-1 course" id="id_populate_course_categories" name="course" style="display: inline-block;color: #000;  width: 100%;"></select>

                                        </div>



                                            <center>
                                                <a class="add-exam-block hover-red" style="color:#000;font-family: 'Raleway', sans-serif;font-size: 14px; padding-left: 10px;"> Exam results for higher scholarship?</a>
                                            </center>

                                        <div class="exam_block" style="display: none;">
                                            <!-- QUALIFYING EXAM -->
                                            <div class="form-group q_exm_form_group" style="margin-bottom: 7px; padding: 2px;width:100%;border-radius: 0px;font-size: 13px;font-family: 'Raleway', sans-serif;">
                                                   <select class="form-control-1 q_exm nofocus hide-on-off-focus" id="q_exm" name="q_exm" style="width: 68%;position: relative;">
                                                        <option></option>
                                                    </select><a id="to-the-right" style="color: #333;float:right;position: absolute; text-align:left; left: 100%; margin-top:12px;margin-left:0px;" href="#" data-toggle="popover" data-trigger="hover" {#  data-placement="bottom" #} title="" data-content="For example, class 12th results for graduation courses"><i class="fa fa-info-circle"></i></a>
                                                <input type="number"  min="1" max="100" class="form-control-1 q_exm_score nofocus clear_on_load" name="q_exm_score" placeholder="Result&nbsp;%" style="border:1px solid #AAAAAA;font-family: 'Raleway', sans-serif;color: #000;font-size: 14px;width: 30%;z-index: 9999;padding-top: 0px; padding-right: 0px; padding-bottom: 0px;float: right;clear: both;">
                                            </div>

                                            <!-- COMPETITIVE EXAM -->
                                            {#<input id="dynamic_course_type" name="course_type" type="hidden">#}
                                            {% for i in '01' %}
                                            <div class="row c_hide c_hide{{ forloop.counter }}" style="padding: 0; margin-left: 2px; margin-right: 2px; margin-bottom: 10px;border-radius: 4px;">
                                                <div class="form-group" id="compt_exm_type" style="margin-bottom: 0; padding-bottom: 0; width:100%;border-radius: 0px;">
                                                    <select class="form-control-1 select2 compt_exm_type_{{ forloop.counter }}" id="compt_exm_type" data-related-score="{{ forloop.counter }}" name="compt_exm_type_{{ forloop.counter }}" style="color: #333!important;display: inline; border: none;font-family: 'Raleway', sans-serif; width: 68%;">
                                                        <option selected disabled>
                                                            <span style="font-family: 'Raleway', sans-serif;color: #333!important;">Competitive Exam {{ forloop.counter }}?</span>
                                                        </option>
                                                    </select>
                                                    <input class="form-control-1 compt_exm_score compt_exm_score_{{ forloop.counter }} nofocus" name="compt_exm_score_{{ forloop.counter }}" placeholder="Result" style="border:1px solid #AAAAAA;font-family: 'Raleway', sans-serif;width: 30%;float:right;clear: both; position: relative;" type="number">
                                                    <a id="to-the-right" style="color: #333;float:right;position: absolute;left: 100%; margin-top:12px;margin-left:0px;" href="#" data-toggle="popover" data-trigger="hover" title="" data-content="For example, JEE (mains) result for engineering courses">
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>

                                                </div>
                                            </div>
                                            {% endfor %}
                                                <input class="course_type clear_on_load" name="course_type" style="display: none; color:black;" value="">
                                                <center><a class="add hover-red" style="color:#333333;font-family: 'Raleway', sans-serif;padding-left: 10px;">Add a competitive exam result?</a></center>
                                        </div>



                                    </form>
                                <button class="btn-orange btn-medium submit my-schorship-mobile" style="font-family: 'Raleway', sans-serif;border-radius: 0px; margin-top: 10px; margin-bottom: 40px;width: 100%;font-weight: 600;" type="submit">SEARCH FOR SCHOLARSHIP</button>
{#                                    <script>#}
{#                                        jQuery(".form").validate({#}
{#                                          ignore: [],#}
{#                                          rules: {#}
{#                                            'ignore': [],#}
{#                                            'city': {#}
{#                                                'required': true#}
{#                                            },#}
{#                                            'course': {#}
{#                                                'required': true#}
{#                                            },#}
{#                                            'q_exm': {#}
{#                                                'required': function () {#}
{#                                                    console.log(Boolean(jQuery(".q_exm_score").val()), "q_exm");#}
{#                                                    return Boolean(jQuery(".q_exm_score").val())#}
{#                                                }#}
{#                                            },#}
{#                                              'compt_exm_type_1': {#}
{#                                                'required': function () {#}
{#                                                    console.log(Boolean(jQuery(".compt_exm_score_1").val()), "ce1");#}
{#                                                    return Boolean(jQuery(".compt_exm_score_1").val())#}
{#                                                }#}
{#                                            },#}
{#                                               'compt_exm_type_2': {#}
{#                                                'required': function () {#}
{#                                                    console.log(Boolean(jQuery(".compt_exm_score_2").val()), "ce2");#}
{#                                                    return Boolean(jQuery(".compt_exm_score_2").val())#}
{#                                                }#}
{#                                            },#}
{##}
{#                                          },#}
{#                                          messages: {#}
{#                                            'city': 'We need to know where you want to study!',#}
{#                                              'course': 'We need to know what you want to study!'#}
{#                                          },#}
{#                                            errorPlacement: function(error, element) {#}
{#                                                //Custom position: city#}
{#                                                console.log(error, element)#}
{##}
{#                                                if (element.attr("name") == "city" ) {#}
{#                                                   jQuery("select[name='course'] ~ .select2-container ").css('outline', 'none');#}
{#                                                }#}
{##}
{#                                                else if (element.attr("name") == "course" ) {#}
{#                                                    // jQuery("select[name='course'] ~ .select2-container ").css('border', '1px solid red');#}
{#                                                    jQuery("select[name='course'] ~ .select2-container ").css('outline', 'none');#}
{#                                                }#}
{##}
{#                                                else if (element.attr("name") == "q_exm_score" ) {#}
{#                                                    jQuery(element).css('border', '1px solid red');#}
{#                                                }#}
{#                                                else if (element.attr("name") == "compt_exm_score_1" ) {#}
{#                                                    jQuery(element).css('border', '1px solid red');#}
{#                                                }#}
{#                                                else if (element.attr("name") == "compt_exm_score_2" ) {#}
{#                                                    jQuery(element).css('border', '1px solid red');#}
{#                                                }#}
{#                                                else if (element.attr("name") == "compt_exm_type_1" ) {#}
{#                                                    console.log("ce1 error")#}
{#                                                    jQuery("select[name='compt_exm_type_1'] ~ .select2-container ").css('border', '1px solid red');#}
{#                                                }#}
{#                                                else if (element.attr("name") == "compt_exm_type_2" ) {#}
{#                                                    console.log("ce2 error")#}
{#                                                    jQuery("select[name='compt_exm_type_2'] ~ .select2-container ").css('border', '1px solid red');#}
{#                                                }#}
{##}
{#                                                else if ((element.attr("name") == "compt_exm_type_1" ) && ((element.attr("name") == "compt_exm_score_1" ).value)){#}
{#                                                    jQuery("select[name='compt_exm_type_1'] ~ .select2-container ").css('border', '1px solid red');#}
{#                                                }#}
{##}
{#                                                else if ((element.attr("name") == "compt_exm_type_2" ) && (!(element.attr("name") == "compt_exm_score_2" ).value)){#}
{#                                                    jQuery("select[name='compt_exm_type_2'] ~ .select2-container ").css('border', '1px solid red');#}
{#                                                }#}
{#                                                else if (element.attr("name") == "q_exm" ) {#}
{#                                                    jQuery("select[name='q_exm'] ~ .select2-container ").css('border', '1px solid red');#}
{#                                                }#}
{#                                                else {#}
{#                                                    console.log("else fired")#}
{#                                                    error.insertAfter(element); // default error placement.#}
{#                                                }#}
{##}
{#                                            },#}
{#                                            success: function(label) {#}
{#                                                if (label.attr('for') == "city" ) {#}
{#                                                    console.log("City success")#}
{#                                                    jQuery("."+label.attr('for')).css('border', '1px solid rgb(147,147,147)');#}
{#                                                }#}
{##}
{#                                                else if (label.attr('for') == "course" ) {#}
{#                                                    // jQuery("select[name="+label.attr('for')+"] ~ .select2-container ").css('border', '1px solid rgb(147,147,147)');#}
{#                                                }#}
{##}
{#                                                else if (label.attr('for') == "q_exm_score" ) {#}
{#                                                    jQuery("."+label.attr('for')).css('border', '1px solid rgb(147,147,147)');#}
{#                                                }#}
{#                                                else if (label.attr('for') == "compt_exm_score_1" ) {#}
{#                                                    jQuery("."+label.attr('for')).css('border', '1px solid rgb(147,147,147)');#}
{#                                                }#}
{#                                                else if (label.attr('for') == "compt_exm_score_2" ) {#}
{#                                                    jQuery("."+label.attr('for')).css('border', '1px solid rgb(147,147,147)');#}
{#                                                }#}
{#                                                else if (label.attr('for') == "compt_exm_type_1" ) {#}
{#                                                    jQuery("select[name=" + label.attr('for')   +"] ~ .select2-container ").css('border', '1px solid rgb(147,147,147)');#}
{#                                                }#}
{#                                                else if (label.attr('for') == "compt_exm_type_2" ) {#}
{#                                                    jQuery("select[name=" + label.attr('for') +"] ~ .select2-container ").css('border', '1px solid rgb(147,147,147)');#}
{#                                                }#}
{#                                                else if (label.attr('for') == "q_exm" ) {#}
{#                                                    jQuery("select[name="+label.attr('for')+"] ~ .select2-container ").css('border', '1px solid rgb(147,147,147)');#}
{#                                                }#}
{#                                                else {#}
{#                                                    label.hide();// default error placement.#}
{#                                                }#}
{#                                            },#}
{#                                            submitHandler: function(form) {#}
{#                                                jQuery(".city-error-red").css('color', 'black');#}
{#                                                jQuery("select[name='course'] ~ .select2-container ").css('border', 'none');#}
{#                                                jQuery("select[name='compt_exm_type_1'] ~ .select2-container ").css('border', 'none');#}
{#                                                jQuery("select[name='compt_exm_type_2'] ~ .select2-container ").css('border', 'none');#}
{#                                                jQuery("select[name='q_exm'] ~ .select2-container ").css('border', 'none');#}
{##}
{#                                                form.submit();#}
{#                                              },#}
{#                                            invalidHandler: function (event, validator) {#}
{#                                                console.log("Form is invalid");#}
{#                                                // var errors = validator.numberOfInvalids();#}
{#                                                // if (errors) {#}
{#                                                //     jQuery(validator.errorList[0].element).css("color", "red");#}
{#                                                // }#}
{#                                            },#}
{#                                            highlight: function (element) {#}
{#                                                jQuery(element).css("color", "red");#}
{#                                            }#}
{#                                        });#}
{##}
{#                                        jQuery(document).on("select2:closing", function () {#}
{#                                                jQuery("select[name='course'] ~ .select2-container ").css('border', 'none');#}
{#                                                jQuery("select[name='compt_exm_type_1'] ~ .select2-container ").css('border', 'none');#}
{#                                                jQuery("select[name='compt_exm_type_2'] ~ .select2-container ").css('border', 'none');#}
{#                                        })#}
{##}
{#                                        jQuery(".submit").click(function() {#}
{#                                            var errors;#}
{##}
{#                                            if (!jQuery("#id_location").val()) {#}
{#                                                /* Build up errors object, name of input and error message: */#}
{##}
{#                                                /* Show errors on the form */#}
{#                                                jQuery("select[name='city'] ~ .select2-container ").css('border', '1px solid red');#}
{#                                            }else{#}
{#                                               jQuery("select[name='city'] ~ .select2-container ").css('border', 'none');#}
{#                                            }#}
{##}
{#                                            if (!jQuery("#id_populate_course_categories").val()) {#}
{#                                                /* Build up errors object, name of input and error mssage: */#}
{#                                                    /*jQuery(var robert);#}
{#                                                    jQuery(robert.getElementById("compt_exm_type"));*/#}
{#                                                /* Show errors on the form */#}
{##}
{#                                                jQuery("select[name='robert'] ~ .select2-container ").css('border', '1px solid red');#}
{#                                            }else{#}
{#                                               jQuery("select[name='course'] ~ .select2-container ").css('border', 'none');#}
{#                                            }#}
{#                                        });#}
{#                                    </script>#}
                                <script>
                                    jQuery(document).ready(function () {
                                        if((!jQuery("select[name='compt_exm_type_2']").val()) && (jQuery("select[name='compt_exm_type_2']").val())){
                                            jQuery("select[name='compt_exm_type_2'] ~ .select2-container ").css('border', '1px solid red');
                                        }
                                    })
                                </script>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="scholarship-college">
                    <div class="col-md-12 col-xs-12 col-sm-12" style="padding-right: 0px!important;">
                        <div class="text-center" style="">
                                <h2 class="apply-home-mobile" style="padding-top:20px;color:#333333;font-family: 'Raleway', sans-serif;font-weight: lighter;font-size: 35px;">
                                    Admissions and Scholarships in Top Colleges
                                </h2>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-12 col-md-offset-3 col-lg-offset-3 col-sm-6 col-sm-offset-3 form-top p-8">
                        <div class="panel panel-default" style="background: transparent; border: none;font-family: 'Raleway', sans-serif;">
                            <div class="" style="padding: 0;">
                                <div class="col-md-12 p-0 text-center" style="">
                                    <center><p class="banner-para">Get admission with scholarship in Engineering, Management, HM, Pharmacy, Law, Journalism and others, only on Just Rokket</p></center>
                                <button class=" hide-button hide-btn-attribute"  type="submit">FIND MY COLLEGES AND OFFERS</button>
                                </div>

                            </div>
                        </div>
                    </div>

                    </div>


                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <img class="front-badge" id="frnt" src="{% static 'images/front-badge.png' %}" style="width: 70%;margin-top: 20px;">
                        <div>
                            <span data-tooltip-content="#tooltip_content" style="margin-left: 42px;font-weight: bold;font-size: 17px;">
                                <i class="fa fa-phone get-back" style="color: #f00025;"></i> 8376840610
                            </span>
                        </div>
                    </div>

                </div>

            </div>

{#        first-section#}

{#        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0;">#}
{#                <div class="col-md-12 col-xs-12 col-sm-12" style="padding-right: 0px!important;">#}
{#                    <div class="text-center" style="margin-top: 2em;">#}
{#                            <h2 class="apply-home-mobile" style="color:#333333;font-family: 'Raleway', sans-serif;font-weight: lighter;">#}
{#                                Scholarships in Top Colleges#}
{#                            </h2>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-12">#}
{#                    <div class="col-md-6 col-lg-6 col-xs-12 col-md-offset-3 col-lg-offset-3 col-sm-6 col-sm-offset-3 form-top">#}
{#                        <div class="panel panel-default" style="background: transparent; border: none;font-family: 'Raleway', sans-serif;">#}
{#                            <div class="panel-body" style="padding: 0;">#}
{#                                <div class="col-md-12 " style="">#}
{#                                    <p class="text-style\">Get admission with scholarship in colleges for engineering,management, architecture, pharmacy, animation and many more, only on just Rokket#}
{#                                    </p>#}
{#                                <button class="btn-orange btn-medium submit my-schorship-mobile" style="font-family: 'Raleway', sans-serif;border-radius: 0px; margin-top: 10px; margin-bottom: 40px;width: 100%;font-weight: 600;" type="submit">FIND MY COLLEGES WITH OFFERS</button><img style="display: inline-block;" src="{% static 'images/icon4.png' %}">#}
{#                                <script>#}
{#                                    jQuery(document).ready(function () {#}
{#                                        if((!jQuery("select[name='compt_exm_type_2']").val()) && (jQuery("select[name='compt_exm_type_2']").val())){#}
{#                                            jQuery("select[name='compt_exm_type_2'] ~ .select2-container ").css('border', '1px solid red');#}
{#                                        }#}
{#                                    })#}
{#                                </script>#}
{##}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-4"></div>#}
{#                </div>#}
{##}
{#            </div>#}

{#        second-section#}
            <div class="col-md-12 col-sm-12 hidden-xs hidden-sm blue-bar">

                <div class="col-md-4 col-sm-4">
                         <div style="background-color: #fff; border-radius: 50%;height: 100px; width:100px;margin-left: 25%; padding: 3px;margin-top: -60px;margin-bottom: 10px;">
                            <div style="background-color: #ffc000; border-radius: 50%;height: 94px; width: 94px;padding: 20px;padding-left: 25px;">
                                <p style="font-family: 'Raleway', sans-serif;color: #fff;font-weight: bolder;font-size: medium;">
                                    3 Easy
                                    Steps
                                </p>
                            </div>
                        </div>
                         <div class="col-md-12 col-sm-12 text-center awesome-triangle push-up">
                            <p class="bb-padding" style="font-weight: bolder;">
                                Choose College &amp; Scholarship.
                            </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="col-md-12 col-sm-12 text-center awesome-triangle">
                            <p class="bb-padding" style="font-weight: bolder;">
                                Pre-register &amp; get admission
                            </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="col-md-12 col-sm-12 text-center">
                            <p class="bb-padding" style="font-weight: bolder;">
                                Save on fees for the full course
                            </p>
                    </div>
                </div>
            </div>
        </div><!-- #item end -->
    </div><!-- flexslider start #end -->
<div class="container scholrship-box">
    <div class="row mt-e2">
        <center>
            <h2 class="raleway-heading">
                Scholarships on JUST ROKKET!
            </h2>
        </center>
    </div>
    <div class="row mt-e-new">
        <div class="col-md-12">
            <div class="col-md-3 scholr-man-box" >
                <div class="col-md-12">
                     <center><img src="{% static 'images/icons/merit.png' %}" style="max-height: 50px;"></center>
                    <h4 style="text-align: center;" class="raleway-subheading-new bold-font">
                        Scholarships for full term
                    </h4>
                    <p class="raleway-para raleway-para-new hidden-xs text-deco">
                        Get scholarships for all semesters/terms/years.
                    </p>
                </div>
            </div>
            <div class="col-md-3 scholr-man-box">
                <div class="col-md-12">
                    <center><img src="{% static 'images/icons/fullcourse.png' %}" style="max-height: 50px;"></center>
                    <h4 style="text-align: center;" class="raleway-subheading-new bold-font">
                        Scholarships on merit
                    </h4>
                    <p class="raleway-para raleway-para-new hidden-xs text-deco">
                        Get higher offers for higher marks in your exams.
                    </p>
                </div>
            </div>
            <div class="col-md-3 scholr-man-box">
                <div class="col-md-12">
                    <center><img src="{% static 'images/icons/clear.png' %}" style="max-height: 50px;"></center>
                    <h4 style="text-align: center;" class="raleway-subheading-new bold-font">
                        Scholarships for everyone
                    </h4>
                    <p class="raleway-para raleway-para-new hidden-xs text-deco">
                        Get scholarships even if you don't have exam results yet.
                    </p>
                </div>
            </div>
            <div class="col-md-3 scholr-man-box">
                <div class="col-md-12">
                    <center><img style="max-height: 50px;" src="{% static 'images/icons/numerous.png' %}"></center>
                    <h4 style="text-align: center;" class="raleway-subheading-new bold-font">
                        Exclusive scholarships
                    </h4>
                    <p class="raleway-para hidden-xs text-deco" >
                        Get special offers only on Just Rokket.
                    </p>
                </div>
            </div>
        </div>
    </div>
{#    <div class="row mt-e1">#}
{#        <div class="col-md-12">#}
{#            <div class="col-md-3 scholr-man-box">#}
{#                <div class="col-md-12">#}
{#                    <center><img src="{% static 'images/icons/numerous.png' %}" style="max-height: 60px;"></center>#}
{#                    <h4 style="text-align: center;" class="raleway-subheading-new bold-font">#}
{#                        NUMEROUS COLLEGE OPTIONS#}
{#                    </h4>#}
{#                    <p style="text-align: center;" class="raleway-para hidden-xs" style="text-align: justify;">#}
{#                        Choose from colleges basis the desired course, city and the fees (After Scholarship) they offer you .#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3 scholr-man-box" >#}
{#                <div class="col-md-12">#}
{#                    <center><img src="{% static 'images/icons/standard.png' %}" style="max-height: 60px;"></center>#}
{#                    <h4 style="text-align: center;" class="raleway-subheading-new bold-font">#}
{#                        STANDARD ADMISSION PROCESS#}
{#                    </h4>#}
{#                    <p style="text-align: center;" class="raleway-para hidden-xs" style="text-align: justify;">#}
{#                        Experience an almost standard admission process across our partner colleges.#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3 scholr-man-box">#}
{#                <div class="col-md-12">#}
{#                    <center><img src="{% static 'images/icons/refund.png' %}" style="max-height: 60px;"></center>#}
{#                    <h4 style="text-align: center;" class="raleway-subheading-new bold-font">#}
{#                        REFUNDABLE PRE REGISTRATION FEE#}
{#                    </h4>#}
{#                    <p style="text-align: center;" class="raleway-para hidden-xs" style="text-align: justify;">#}
{#                        No questions asked policy of refunding the pre registration fees.#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-3"></div>#}
{##}
{#        </div>#}
{#    </div>#}

</div>
<!-- #popular-courses #start  -->
<section id="institution" class="partner-section">
    <div class="container">
        <div class="">
            <h2 class="text-center raleway-heading mb-e1">
                Institutions
            </h2>
            <div class="row">
                {% for i in view.get_p_colleges %} {% comment %}{% if forloop.counter < 4 %}{% endcomment %}
                <div class="col-md-3 partner-logo-padding">
                    <div class="panel panel-default partner-border p-10 m-0">
                        <div class="panel-body partner-front p-0">
                            <center>
                                <img class="partner-image" src="{{ i.logo.url }}">
                            </center>
                        </div>
                    </div>
                    <div class="partner-description">
                        <p class="text-center bold partner-text-center text-box-paragraph">
                            {{ i.title }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{#    testimonial-slider#}

    <div class="bg-image">
        <div class="my-slider mt-30 mb-30">
            <ul>
                <li>
                   <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6 col-xs-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-md-1 hidden-sm hidden-xs"></div>
                                         <img class="testimonial-image" src="{% static 'images/dummy.png' %}">
                                        <div class="col-md-4 col-sm-12 col-xs-12 testimonial-box mr-10">
                                            <br>
                                            <i class="fa fa-quote-left fa-2x" aria-hidden="true"><span class="testimonial-text"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </span></i>
                                            <br>
                                            <center><h5 class="testimonial-name">Michael DoeMukesh Jakhar</h5></center>
                                            <center><p class="color-Y">Developer</p></center>
                                        </div>
                                        <div class="col-md-1 hidden-sm hidden-xs"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-md-1 hidden-sm hidden-xs"></div>
                                         <img class="testimonial-image" src="{% static 'images/dummy.png' %}">
                                        <div class="col-md-4 col-sm-12 col-xs-12 testimonial-box mr-10 box-spacing">
                                            <br>
                                            <i class="fa fa-quote-left fa-2x" aria-hidden="true"><span class="testimonial-text"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </span></i>
                                            <br>
                                            <center><h5 class="testimonial-name">Michael DoeMukesh Jakhar</h5></center>
                                            <center><p class="color-Y">Developer</p></center>
                                        </div>
                                        <div class="col-md-1 hidden-sm hidden-xs"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                </li>
                <li>
                   <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6 col-xs-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-md-1 hidden-sm hidden-xs"></div>
                                         <img class="testimonial-image" src="{% static 'images/dummy.png' %}">
                                        <div class="col-md-4 col-sm-12 col-xs-12 testimonial-box mr-10">
                                            <br>
                                            <i class="fa fa-quote-left fa-2x" aria-hidden="true"><span class="testimonial-text"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </span></i>
                                            <br>
                                            <center><h5 class="testimonial-name">Michael DoeMukesh Jakhar</h5></center>
                                            <center><p class="color-Y">Developer</p></center>
                                        </div>
                                        <div class="col-md-1 hidden-sm hidden-xs"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-md-1 hidden-sm hidden-xs"></div>
                                         <img class="testimonial-image" src="{% static 'images/dummy.png' %}">
                                        <div class="col-md-4 col-sm-12 col-xs-12 testimonial-box mr-10 box-spacing">
                                            <br>
                                            <i class="fa fa-quote-left fa-2x" aria-hidden="true"><span class="testimonial-text"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </span></i>
                                            <br>
                                            <center><h5 class="testimonial-name">Michael DoeMukesh Jakhar</h5></center>
                                            <center><p class="color-Y">Developer</p></center>
                                        </div>
                                        <div class="col-md-1 hidden-sm hidden-xs"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                </li>
                <li>
                   <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6 col-xs-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-md-1 hidden-sm hidden-xs"></div>
                                         <img class="testimonial-image" src="{% static 'images/dummy.png' %}">
                                        <div class="col-md-4 col-sm-12 col-xs-12 testimonial-box mr-10">
                                            <br>
                                            <i class="fa fa-quote-left fa-2x" aria-hidden="true"><span class="testimonial-text"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </span></i>
                                            <br>
                                            <center><h5 class="testimonial-name">Michael DoeMukesh Jakhar</h5></center>
                                            <center><p class="color-Y">Developer</p></center>
                                        </div>
                                        <div class="col-md-1 hidden-sm hidden-xs"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-md-1 hidden-sm hidden-xs"></div>
                                         <img class="testimonial-image" src="{% static 'images/dummy.png' %}">
                                        <div class="col-md-4 col-sm-12 col-xs-12 testimonial-box mr-10 box-spacing">
                                            <br>
                                            <i class="fa fa-quote-left fa-2x" aria-hidden="true"><span class="testimonial-text"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </span></i>
                                            <br>
                                            <center><h5 class="testimonial-name">Michael DoeMukesh Jakhar</h5></center>
                                            <center><p class="color-Y">Developer</p></center>
                                        </div>
                                        <div class="col-md-1 hidden-sm hidden-xs"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                </li>
            </ul>
        </div>
    </div>


{#    end#}

{#<section class="rokket-section">#}
{#      <div class="container ">#}
{#          <div class="course_list mb-20 mt-20">#}
{#              <center>#}
{#                  <div class="row">#}
{#                      <h2 class="raleway-heading text-center mb-e2">Some Rokketers</h2>#}
{#                        {% for i in view.get_rokketeers %}#}
{#                      <div class="col-md-3 mt-e1">#}
{#                          <div class="panel panel-default partner-border p-10 m-0">#}
{#                              <div class="panel-body partner-front p-0">#}
{#                                  <div class="row"></div>#}
{#                                    <img src="{{ i.image.url }}" style="width:100%; object-fit: cover; max-height: 200px; height:200px;">#}
{#                              </div>#}
{#                          </div>#}
{#                            <div class="partner-description" style="min-height: 150px; height:150px;">#}
{#                                <h5 class="m-0 pt-20 raleway-subheading" style="color: white;">#}
{#                                    <span style="font-weight: bold; font-size: 20px;">{{ i.name }}</span><br>({{ i.from_date|date:"Y" }}&nbsp;to&nbsp;{{ i.to_date|date:"Y" }})#}
{#                                  </h5><br>#}
{#                                  <p class="text-center partner-description">#}
{#                                      {{ i.description }}#}
{#                                  </p>#}
{#                            </div>#}
{#                      </div>#}
{#                        {% endfor %}#}
{#                  </div>#}
{#              </center>#}
{#            <div class="row" style="margin-top: 50px;"></div>#}
{#            <center>#}
{#                <div class="row">#}
{#                     <a class="btn btn-normal btn-medium" href="#" style="color: #333;">Find More Rokketers</a>#}
{#                </div>#}
{#            </center>#}
{#          </div>#}
{#      </div>#}
{#</section>#}
    <script>
        jQuery(".close").on("click", function(){
            jQuery(".modal-body").modal("close");
            jQuery("div.forgot-password-form").hide(300);
            jQuery("div.form-login-email").hide(300)
        });
    </script>
    <script>
        jQuery(document).ready(function () {
            jQuery("#id_location").select2().select2('val', '1');
        })
    </script>

        <script>
                jQuery(document).ready(function () {
                    if(jQuery(window).width() < 767){
                        jQuery("#to-the-right").attr("data-placement", "left");
                        jQuery('[data-toggle="popover"]').popover();
                        }
                    else if(jQuery(window).width() > 767) {
                        jQuery("#to-the-right").attr("data-placement", "right");
                        jQuery('[data-toggle="popover"]').popover();
                    }
                });
        </script>


    <script src="{% static 'js/validate.js'%}"></script>
    <script>
        jQuery(".submit").on("click", function () {
                console.log("form submit attempted");
            if (validateAll()){
                jQuery(".form").submit()
            }
            else{
                a = validateAll();
            }
        })
    </script>
    <script src="{% static 'js/home.js' %}"></script>
    {#<script type="text/javascript" src="{% static 'vendor/html5_lightbox_free/html5lightbox/jquery.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'vendor/html5_lightbox_free/html5lightbox/html5lightbox.js' %}"></script>
	<script src="{% static 'vendor/unslider-master/src/js/unslider.js' %}"></script>

    <script>
    window.onunload = refreshParent;
    function refreshParent() {
        window.opener.location.reload();
    }
    </script>
    <script>
        $('.my-slider').unslider({
        arrows: {

            prev: '<a class="unslider-arrow prev arrow"><i style="background-color: rgb(35, 168, 177);padding: 10px;" class="fa fa-long-arrow-left" aria-hidden="true"></i></a>',
            next: '<a class="unslider-arrow next arrow"><i style="background-color: rgb(35, 168, 177);padding: 10px;" class="fa fa-long-arrow-right" aria-hidden="true"></i></a>',

        }

        });
        $('.my-slider').unslider({
        keys: false,
        arrows: true,
        nav: false

        });
	</script>
    <script>
    jQuery(".hide-button").on('click touchstart', function(){
                console.log("hey");
                jQuery(".scholarship-college").hide();
                jQuery(".display-none").show();
            });
    </script>

    <script>
        jQuery('#fmc').click(function () {

        //   alert("lol");
           jQuery('#frnt').css('margin-top', '39px');

        });
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {

        $( ".testimonial-image" ).removeClass( "testimonial-image" ).addClass( "testimonial-image-mob" );
        $( ".hide-btn-attribute" ).removeClass( "hide-btn-attribute" ).addClass( "hide-btn-attribute-mob" );
        $( ".box-spacing" ).removeClass( "box-spacing" );
        jQuery(".hide-button").click(function(){
                console.log("hey");
                jQuery(".scholarship-college").hide();
                jQuery(".display-none").show();
            });

    }

    </script>


{% endblock %}